<tr id="js-ml-<%= mailing_list.id %>">
  <td> <%= mailing_list.name %> </td>
  <td> <%= mailing_list.subscribers %> </td>
  <td> <i class="text-muted"><%= mailing_list.last_sent || 'Never' %></i></td>
  <td>
   <%= link_to user_tools_mailing_list_path(mailing_list),
   remote: true, method: :delete, class: 'btn-circle' do %>
   <i class="fa fa-trash-o"></i>
   <% end %>

   <a href="<%= sync_user_tools_mailing_list_url(mailing_list) %>"
    class="btn-circle"  data-backdrop="static" data-toggle="modal" data-target="#sync-modal">
     <i class="fa fa-exchange"></i>
   </a>
   <%= link_to new_user_tools_mailing_list_emails_path(mailing_list), class: 'btn-send' do %>
   <i class="fa fa-send"></i>
   <% end %>
 </td>
</tr>