<%= render partial: "user/tools/tabs" %>
<div class="newsletter-actions">
  <%= simple_form_for [:user, :tools, @mailing_list], remote: true do |f|%>
  <%= f.input_field :mailchimp_list_id, as: :hidden, id: 'js-mailing-list-id' %>

  <div id="js-new-list-msg">
    <div class="new-list-action">
      <a id="js-new-list-btn" class="js-ml-msg"><i class="fa fa-lg fa-plus"></i> New List</a>
      <%= button_tag(type: 'submit', class: "btn-app btn-block js-new-ml") do %>
      Create List
      <% end %>
    </div>
    <div class="new-list-msg">
      <p class="js-ml-msg">Compile all your customers' emails in a single list.
        Send them messages, newsletters and updates about your products.
        You can do this from here or through your
        <b>MailChimp</b> or <b>Campaign Monitor</b> account.
      </p>
      <%= render partial: 'new_list_form', :locals => {:f => f} %>
    </div>
  </div>
  <% end %>
</div>
<div class="newsletter-list">
  <div>
    <table>
      <thead>
        <tr>
          <th style="width:12%;">Sync</th>
          <th class="list-name">List Name</th>
          <th class="subscribers"> Subscribers</th>
          <th class="last-update">Last Update</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="js-mailing-list">
       <% if @list.blank? %>
       <tr><td colspan="5"><p class="text-center text-muted">No mailing list founds</p></td></tr>
       <% else %>
       <%= render @list %>
       <% end %>
     </tbody>
   </table>
 </div>
</div>
<div id="newsletter-pagination">
 <%= paginate @list %>
</div>
</div>
