<div class="timeline">
  <ul>
    <li class="upload-section" data-product-id="<%= @product.id %>">
      <div class="cbp_tmicon timeline-icon-current animated bounceIn">
        <i class="fa icon-cloud-upload"></i> </div>
        <div class="cbp_tmlabel">
          <div class="timeline-header">
            <h5>Product File</h5>
          </div>
          <div class="timeline-body">
           <div class="upload-box <% if !@product.new_record? %>  hid <% end %>">
            <form action="https://<%= Rails.configuration.aws["bucket"] %>.s3.amazonaws.com" method="POST"
              enctype="multipart/form-data" class="direct-upload">
              <input type="hidden" name="success_action_status" value="201">
              <div class="overlay">
               <p> Drop product file here or click to select from your computer.</p>
               <i class="fa icon-docs fa-5x"></i>
               <input data-url="https://upandsell.s3.amazonaws.com/"
               id="product-upload-btn"
               type="file" name="product[file_js]" multiple="" class="fileInput" >
             </div>
             <div class="upload-box-inner">

             </div>
           </form>
         </div>
         <div class="uploading-box <% if @product.new_record? %>  hid <% end%>">
          <div class="row">
            <div class="col-md-5">
              <p class="filename"><%= @product.file_name %></p>
            </div>
            <div class="col-md-5">
              <div class="progress hid">
                <div class="progress-bar" style="width: 0%;">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <a class="fileinput-button file-change btn btn-primary pull-right" data-text-type="change">Change</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="info-section">

    <div class="cbp_tmicon timeline-icon-current animated bounceIn"> <i class="fa icon-tag"></i> </div>
    <div class="cbp_tmlabel">
     <div class="timeline-header">
       <h5>Product Details</h5>
     </div>
     <div class="timeline-body">
       <div id="js-product-form" class="product-form <% unless  @product.new_record?  %>  hid <% end%>">
        <%= simple_form_for [:user, @product], html: { multipart: true,
          class: 'form-horizontal product' },
            remote: true, data: { type: :json }  do |f| %>

            <input id="file_key" class="filename" type="hidden" name="[product]file_key" value="<%= @product.file_key %>" />
            <%= f.input_field :price_currency, as: :hidden %>
            <%= token_tag nil %>


            <div class="form-group row border-bottom <%= error_class(@product, 'name') %>">
              <div class="col-md-4 border-right">
                <div class="form-group">
                  <div class="col-md-6">
                    <p class="limit">Limit Sales To:</p>
                  </div>
                  <div class="col-md-6">
                    <%= f.input_field :sales_limit, as: :string,
                    class: 'text-center', placeholder: '∞' %>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <%= f.input_field :name, class: 'form-control', placeholder: "Product Name" %>
              </div>
              <div class="col-md-2">
               <div class="input-group <%= error_class(@product, 'price_cents') %>">
                 <span id="currency"
                 data-currency-symbols="[&quot;$&quot;,&quot;\u00a3&quot;,&quot;\u20ac&quot;]"
                 data-currency-values="[&quot;usd&quot;,&quot;gbp&quot;,&quot;eur&quot;]"
                 class="input-group-addon btn-preview btn-primary"><%= @product.price.symbol %></span>
                 <%= f.input_field :price, class: 'form-control', placeholder: "2.00" %>
               </div>
             </div>
           </div>

           <div class="form-group row">

            <div class="col-md-4 border-right">

              <div class="upload-box-preview">
                <div class="overlay">
                  <%= f.input_field :preview, id: 'file-input', accept: "image/*",
                  class: 'btn-preview input-thumb fileInput' %>
                </div>
                <input type="hidden" id="local-preview-path" value="" />

                <div id="preview" class="upload-box-preview-inner"
                data-preview-url="<%= @product.preview.url if (@product.id && @product.preview.file)%>">
                <p>Click to set a preview image
                  <br />
                  (780 X 350)</p>
                  <i class="fa icon-picture fa-5x"></i>
                </div>
              </div>
            </div>
            <div class="col-md-8">
             <%= f.input_field :description,
             class: 'form-control product-description',
              placeholder: "Product Description(optional)" %>
            </div>
          </div>
          <div class="timeline-footer form-group row">
           <div class="col-md-12">
            <%= f.button :submit,  "Save",
            data: {disable_with: 'Saving...'}, class: 'btn btn-primary btn-lg text-center' %>
          </div>
        </div>
        <% end %>
      </div>

      <div id="js-product-show" class="show-product-box product_show <% if @product.new_record? %>  hid <% end%>">
        <div class="row">
         <div class="col-md-1 preview-product-image">
           <img class="product-image"
           src="<%= @product.preview.thumb.url if @product.id%>"
           style="height: 60px; width: 60px;">
         </div>
         <div class="col-md-5">
          <p class="product-name"><%= @product.name %></p>
        </div>
        <div class="col-md-1 text-center">
          <p><b class="product-price">
            <%= humanized_money_with_symbol @product.price %>
          </b></p>
        </div>

        <div class="product-actions-menu">
          <a href="#" class="edit-product"><i class="icon-pencil fa-2x"></i></a>
          <% unless  @product.new_record?  %>
          <%= link_to user_product_path(@product), method: :delete,
          class: "", data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-2x icon-trash"></i>
          <% end %>

          <%
          if @product.published
           btn_text = "Unpublish"
           btn_with = "Unpublishing..."
         else
          btn_text = "Publish"
          btn_with = "Publishing..."
        end
        %>
      <%# link_to btn_text, toggle_published_user_product_path(@product),
      remote: true,
      data: {with: btn_with},
      class: "m-r-5 btn btn-warning toggle-published" %>

      <% end %>
    </div>
  </div>
</div>

</div>
</div>
</li>
<li class="share-section">

  <div class="cbp_tmicon timeline-icon-current animated bounceIn"> <i class="fa icon-chat"></i> </div>
  <div class="cbp_tmlabel p-b-0">
   <div class="timeline-header">
     <h5>Share to your audience!</h5>
   </div>
   <div class="timeline-body">
     <div class="share <% if  @product.new_record?  %>  hid <% end%>">
       <div class="row">
        <div class="share-url">

          <div class="slug">
            <h4 id="js-slug"><%= @slug %></h4>
            <a id="js-ext-link" class=""
            href="<%= @slug %>" target="_blank">
            <i class="fa  fa-external-link"></i></a>
            <a id="js-copy-to-clipboard"
            data-clipboard-target="js-slug"
            class=""
            href="#"><i class="fa fa-clipboard"></i></a>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
          <a href=" javascript: void(0)"
          <% if @twitter_url %>
          onclick="window.open(
          '<%= @twitter_url %>',
          'tweet','toolbar=0,status=0,width=600,height=305')"
          <% end %>
          class="btn btn-social-twitter btn-lg">
          <i class="fui-twitter"></i>
          Tweet
        </a>

        <a href=" javascript: void(0)"
        <% if @facebook_url %>
        onclick="window.open(
        '<%= @facebook_url %>',
        'share','toolbar=0,status=0,width=600,height=305')"
        <% end %>
        class="btn btn-lg btn-social-facebook">
        <i class="fui-facebook"></i>
        Share
      </a>
    </div>
  </div>
</div>
</div>
</div>
</li>

</ul>
<div class="clearfix"></div>
</ul>
</div>


