<%
file_error = false
uploaded = false
if @product.errors[:uuid].present?
  file_row_error = 'file-row-error'
  file_error = true
end
if @product.file_file_name && @product.uuid
  uploaded = true
end
%>
<div class="row">
  <div class="col-md-10 col-vlg-7">
    <ul class="cbp_tmtimeline">
      <li class="upload-section" data-product-id="<%= @product.id %>">
        <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-cloud-upload"></i> </div>
        <div class="cbp_tmlabel">
          <div class="p-t-10 p-l-10 p-r-10 ">
           <div class="upload-box <% if uploaded %>  hid <% end%>">
            <form action="https://<%= Rails.configuration.aws["bucket"] %>.s3.amazonaws.com" method="POST"
              enctype="multipart/form-data" class="direct-upload">
              <input type="hidden" name="success_action_status" value="201">
              <div class="overlay">
               <p> Drop product file here or click to select from your computer.</p>
               <input data-url="https://upandsell.s3.amazonaws.com/"
               id="product-upload-btn"
               type="file" name="product[file_js]" multiple="" class="fileInput" >
             </div>
             <div class="upload-box-inner">
              <i class="fa fa-file-o fa-5x"></i>
            </div>
          </form>
        </div>
        <div class="uploading-box <% unless uploaded %>  hid <% end%>">
          <div class="col-md-5">
            <p class="filename"><%= @product.file_file_name %></p>
          </div>
          <div class="col-md-5">
            <div class="progress <% if uploaded %>  hid <% end%>">
              <div class="progress-bar" style="width: 0%;">
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <% if uploaded %>
            <a class="fileinput-button file-change btn btn-primary pull-right" data-text-type="cancel">Change</a>
            <% else %>
            <a class="fileinput-button btn btn-danger pull-right" data-text-type="cancel">Cancel</a>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </li>

  <li class="info-section">

    <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-pencil"></i> </div>
    <div class="cbp_tmlabel">
     <div class="p-t-20 p-l-30 p-r-30 p-b-20 product_form <% if uploaded %>  hid <% end%>">
      <%= simple_form_for [:user,@product], :html=> { multipart: true, class: 'product' }, remote: true, :data => { :type => :json }  do |f| %>

      <input class="upload_uuid" type="hidden" name="[product]upload_uuid" value="<%= @product.uuid %>" />
      <input class="filename" type="hidden" name="[product]filename" value="<%= @product.file_file_name %>" />
      <%= f.input_field :price_currency, as: :hidden %>
      <%= token_tag nil %>

      <div class="row">

        <div class="col-md-4">
         <div class="form-group row">

          <div class="col-md-12 upload-box-preview">
            <div class="overlay">
              <%= f.input_field :thumb, id: 'file-input', accept: "image/*",
              class: 'btn-preview input-thumb fileInput' %>

            </div>
            <input type="hidden" id="local-preview-path" value="" />

            <div id="preview" class="upload-box-preview-inner"
            data-preview-url="<%= @product.thumb.url if @product.id%>">
            <p>Click to set a preview image</p>
            <i class="fa fa-picture-o fa-5x"></i>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row <%= error_class(@product, 'name') %>">
        <div class="col-md-7 col-lg-7 ">
          <%= f.input_field :name, class: 'form-control', placeholder: "Product Name" %>
        </div>
        <div class="col-md-3 col-lg-3">
         <div class="input-group <%= error_class(@product, 'price_cents') %>">
           <span id="currency"
           data-currency-symbols="[&quot;$&quot;,&quot;\u00a3&quot;,&quot;\u20ac&quot;]"
           data-currency-values="[&quot;usd&quot;,&quot;gbp&quot;,&quot;eur&quot;]"
           class="input-group-addon btn-preview btn-primary">$</span>
           <%= f.input_field :price, class: 'form-control', placeholder: "2.00" %>
         </div>
       </div>
       <div class="col-md-2 col-lg-2">
        <%= f.button :submit,  "Save", class: 'btn btn-block btn-primary text-center' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
       <%= f.input_field :description,
       class: 'form-control product-description',
        placeholder: "Product Description(optional)",
        rows: 10 %>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<div class="row show-product-box p-t-10 p-l-30 p-r-20 p-b-10 product_show <% unless uploaded %>  hid <% end%>">
 <div class="col-md-1 preview-product-image">
   <img class="product-image" src="<%= @product.thumb.url if @product.id%>" alt= class="img-rounded" style="height: 60px; width: 60px;">
 </div>
 <div class="col-md-7">
  <p class="product-name"><%= @product.name %></p>
</div>
<div class="col-md-2">
  <p><b class="product-price">
    <%= humanized_money_with_symbol @product.price %>
  </b></p>
</div>

<div class="col-md-2">
  <a class="edit-product btn btn-primary pull-right">Edit</a>
</div>
</div>
<div class="clearfix"></div>



</div>
</li>
<li class="share-section">

  <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-share"></i> </div>
  <div class="cbp_tmlabel p-b-0">
    <div  class="share p-t-10 p-l-30 p-r-20 p-b-20 text-center">
     <h3> Share to your audience!</h3>
     <div class="share <% unless uploaded %>  hid <% end%>">
       <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4 class="share-url col-md-3 slug"><%= @slug %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a href=" javascript: void(0)"
          <% if @twitter_url %>
          onclick="window.open(
          '<%= @twitter_url %>',
          'tweet','toolbar=0,status=0,width=600,height=305')"
          <% end %>
          class="btn btn-social-twitter btn-lg">
          <i class="fui-twitter"></i>
          Tweet
        </a>

        <a href=" javascript: void(0)"
        <% if @facebook_url %>
        onclick="window.open(
        '<%= @facebook_url %>',
        'share','toolbar=0,status=0,width=600,height=305')"
        <% end %>
        class="btn btn-lg btn-social-facebook">
        <i class="fui-facebook"></i>
        Share
      </a>
    </div>
  </div>
</div>
</div>
</div>
</li>

</ul>
<div class="clearfix"></div>
</div>
</div>

</ul>
</div>
</div>


