<% content_for :header do %>

<% end %>
<div class="row tiles-container  m-b-20 hidden-xlg">
  <div class="m-l-10 ">

    <div class="tiles white ">

     <% if @products.blank? %>
     <p class="text-center text-muted">No products Founds</p>
     <p class="text-center">
      <%= link_to "Add One Now",
      new_user_product_path, class: "btn btn-lg btn-add btn-primary" %>
    </p>
    <% else %>
    <% @products.each do |product| %>

    <div class="p-t-20 p-b-15 b-b p-l-10 p-r-10 b-grey">
      <div class="post">
        <div class="user-profile-pic-wrapper">
          <div class="user-profile-pic-2x white-border">
            <% unless product.thumb_file_name  %>
            <div class="missing-img"></div>
            <% else %>
            <%= image_tag product.thumb.url(:small), :class => "img-circl" %>
            <% end %>
          </div>
        </div>
        <div class="info-wrapper small-width inline">
          <div class="info text-black ">
            <p>        <strong> <%= product.name %>
            </strong>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="inline pull-right">
        <div class="tiles text-white p-t-5 p-l-5 p-b-5 p-r-5 inline">
          <%= link_to edit_user_product_path(product) do %>
          <i class="fa fa-pencil fa-lg"></i>
          <% end %>
        </div>
        <div class="tiles white p-t-5 p-l-5 p-b-5 p-r-5 inline">
          <%= link_to  controller: '/products', action: 'show',
          slug: product.slug, only_path: false do %>
          <i class="fa fa-link fa-lg"></i>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="tiles grey p-t-5 p-b-5 ">
 <p class="text-center"> <a href="javascript:;" class="text-black semi-bold  small-text">Load More</a></p>
</div>
</div>
</div>

