<% content_for(:page_title)  { "Products" } %>
<%- content_for :title  do %>
<i class="fa fa-lg icon-tag-2"></i>
Products
<% end %>
<div class="products-page-index">
  <div class="products-actions">
    <div>
      <%= link_to(new_user_product_path, class: 'btn-app') do %>
      <i class="fa fa-lg fa-plus"></i>
      New Product
      <% end %>
    </div>
  </div>
  <div class="products-list-legend">
    <div class="p-info">
      <b>Product Info</b> <small>(Click the name to Edit)</small>
    </div>
    <div class="p-published">
      <b>Published</b>
    </div>
  </div>
  <div class="products-list">
   <% if @products.blank? %>
   <div class="no-products">
     <p>No products yet</p>
     <p>
      <%= link_to "Add One Now",
      new_user_product_path, class: "btn-app" %>
    </p>
  </div>
  <% else %>
  <%= render @products %>
  <% end %>
</div>
<% unless @products.blank? %>
<div class="products-pagination">
 <%= paginate @products %>
</div>
<% end %>
</div>
<%= render 'share' %>