<%- title "Products" %>
<div class="row tiles-container  m-b-20">
  <div class="m-l-10 ">
    <div class="tiles white ">
     <% if @products.blank? %>
     <div class="p-t-10 p-b-10 m-l-10 m-r-10">
       <p class="text-center text-muted">No products Founds</p>
       <p class="text-center">
        <%= link_to "Add One Now",
        new_user_product_path, class: "btn btn-lg btn-add btn-primary" %>
      </p>
    </div>
    <% else %>
    <% @products.each do |product| %>
    <div class="p-t-10 p-b-10 m-l-10 m-r-10 b-b b-gray">
      <div class="post row">
        <div class="col-md-1">
         <img class="product-image img-rounded"
         src="<%= product[:preview]['thumb'] %>"
         style="height: 60px; width: 60px;">
       </div>

       <div class="col-md-9">
        <div class="info text-black ">
          <p>
           <strong> <%= product[:name] %></strong>
         </p>
       </div>
     </div>
     <div class="col-md-2 text-right action-links">

      <%= link_to   product_slug_path(product[:slug]), class: 'btn-circle-b' do %>
      <i class="fa icon-link"></i>
      <% end %>
      <%= link_to edit_user_product_path(product[:id]), class: 'btn-circle' do %>
      <i class="fa  icon-wrench-fill"></i>
      <% end %>
    </div>

  </div>
</div>
<% end %>
<% end %>
</div>
<div class="tiles white text-center p-t-5 p-b-5 ">
 <%# paginate @products %>
</div>
</div>
</div>

