<%- title "Summary" %>
  <div class="col-md-12">
        <!-- BEGIN MARKET SALES WIDGET -->
        <div class="row tiles-container tiles white"  data-aspect-ratio="true">
          <div class="col-md-9 b-grey b-r no-padding" style="height:382px">

              <div class="p-l-45">
<div class="row">
			<div class="col-md-12 col-sm-12 no-padding">
				  <h5 class="semi-bold p-t-5">EARNINGS</h5>
				</div>
</div>
	<div class="col-md-4 col-sm-4 no-padding">
				  <p class="semi-bold">TODAY</p>
				  <h4>
          <span
          class="earnings-today item-count animate-number semi-bold" >
          <%=  @earnings[:today] %>
          </span> USD</h4>
				</div>
				<div class="col-md-4 col-sm-4 no-padding">
				  <p class="semi-bold">THIS WEEK</p>
				  <h4><span class="item-count
 animate-number earnings-week semi-bold">
 <%=  @earnings[:week] %>
</span> USD</h4>
				</div>
				<div class="col-md-4 col-sm-4 no-padding">
				  <p class="semi-bold">THIS MONTH</p>
				  <h4>
          <span
          class="item-count earnings-month animate-number
          semi-bold">
           <%=  @earnings[:month] %>
</span> USD</h4>
				</div>
				<div class="clearfix"></div>
<%#  humanized_money @earnings_total || 0%>
            </div>
            <div class="overlayer bottom-left fullwidth">
              <div class="overlayer-wrapper">
                    <%= content_tag "div", id: "chart", class: "graph",
     data: { earnings: @earnings[:summary_data] } do %>

<div id="area-example" style="height: 245px;"></div><% end %>
              </div>
            </div>
          </div>
          <div class="col-md-3 no-padding text-center">
            <div class="p-l-15 p-r-15 text-center p-b-25 p-t-25 b-b b-grey">
          <select name="products" class="mbn">
              <option value="0">All Products</option>
               <% @products.each do |product| %>
  <option value="<%= product.id %>"><%= product.name %></option>
               <% end %>
          </select>


     </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">

                  <p class="small-text">SALES</p>

                <div class="clearfix"></div>

                  <h4 class="sales-month semi-bold"><%= @sales || 0%></h4>


                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-b b-grey">

                  <p class="small-text">VISITS</p>

                <div class="clearfix"></div>

                  <h4 class="visits-month semi-bold"><%= @visits || 0%></h4>


                <div class="clearfix"></div>
              </div>
              <div class="p-l-15 p-r-15 p-b-10 p-t-10 b-grey">

                  <p class="small-text">CONVERSION RATE</p>

                <div class="clearfix"></div>

                  <h4 class="semi-bold">
<span class="conversion-rate"><%= @conversion_rate %></span>%</h4>


                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
