<% content_for(:page_title)  { "Orders" } %>
<%- content_for :title  do %>
<i class="fa fa-lg icon-reciept-1"></i>
Orders
<% end %>
<div id="orders-page">
  <div class="orders-actions">
   <%= simple_form_for :orders, url: user_orders_path, method: :get, html: { class: 'simple_form' } do |f|%>
   <div class="form-group">
     <select name="products" class="select select-primary select-block" data-selected="<%= params[:products] %>">
      <option value="0">All Products</option>
      <% current_user.products.each do |product| %>
      <option <%if product.id == params[:products].to_i %>
        selected
        <% end %>
        value="<%= product.id %>"><%= product.name %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <input name="q" type="text" class="m-l-10 flat form-control" style="width: 350px;"
      placeholder="Customer Email (Optional)" value="<%= params[:q] %>">
    </div>
    <button type="submit" class="m-l-5 btn btn-primary">
      <i class="fa fa-filter"></i>
      Filter</button>
      <% end %>
    </div>
    <div id="orders-list">
      <div>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th style="width:18%">Customer Email</th>
              <th style="width:6%">Type</th>
              <th style="width:44%">Product</th>
              <th style="width:6%">Amount</th>
              <th style="width:18%">date</th>
              <th></th>
            </tr>
          </thead>

          <tbody role="alert" aria-live="polite" aria-relevant="all">
           <% if @orders.blank? %>
           <tr><td colspan="6"><p class="text-center text-muted">No orders</p></td></tr>
           <% else %>
           <%= render @orders %>
           <% end %>
         </tbody></table>
       </div>
     </div>
     <% unless @orders.blank? %>
     <div id="orders-pagination">
       <%= paginate @orders %>
     </div>
     <% end %>
   </div>
