<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sell downloads and digital products easily - Up&amp;Sell.me</title>
  <meta name="description" content="Sell your music, videos, ebooks, software
  and other any downloadable products." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "frontend", media: "all" %>
   <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
        <![endif]-->
        <%= csrf_meta_tags %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-54494496-1', 'auto');
          ga('send', 'pageview');
        </script>
      </head>
      <body class="home">
        <%= render partial: 'layouts/site/cookie_alert' %>
        <div id="wrap">
         <%= render partial: 'layouts/site/header' %>
         <div id="header">
          <div class="container">
            <div class="row">
              <div class="inner-header">
                <h1 class="animated fadeInUp">Sell your  digital products, easily.</h1>
                <h2 class="animated fadeInUp">Fastest way to sell music, ebooks, software
                  or any other downloadable product.</h2>
                  <% if @beta %>
                    <%= simple_form_for :invite, url:  beta_request_path, class: 'invite-form', remote: true do |f| %>
                    <div class="beta-email-input">
                      <div class="form-error">
                       <p>Email not valid.</p>
                     </div>
                     <%= f.input_field :email, required: true, autofocus: true,
                     placeholder: "Your Email Address", class: "beta-input hidden-animation"%>
                      <%= f.button :submit, "Subscribe", class: "btn-get-started btn-invite hidden-animation",
                    data: {disable_with: 'Processing...'} %>
                   </div>
                  <% end %>
                <div id="js-beta-invite-sent">
                 <p>Thank you for your interest! You have been added to the queue.</p>
               </div>

               <div class="beta-message hidden-animation">
                <p><b>Up&amp;Sell.Me</b> is currently in (Free) Beta version. Subscribe and you will get an
early access in a few hours.</p>
              </div>
              <% else %>
              <a class="btn-more hidden-animation" href="#checkout">Learn More</a>
              <%= link_to "Get Started!", new_user_registration_path,
              class: "btn-get-started hidden-animation" %>
              <% end %>
            </div>
          </div>
          <div class="browser-preview-wrap">
            <div class="browser-preview hidden">
              <div class="shadow-1"></div>
              <div class="shadow-2"></div>
              <%= image_tag 'browser_bar.png', class: 'browser-bar' %>
              <%= image_tag 'dashboard.png', class: 'browser-tab' %>
              <%= image_tag 'small_cloud_left_t.png', class: 'small-cloud-left-t animated pulse' %>
              <%= image_tag 'small-cloud-left_b.png', class: 'small-cloud-left-b animated pulse' %>
              <%= image_tag 'small_cloud_right.png', class: 'small-cloud-right animated pulse' %>
            </div>

          </div>
        </div>
        <%= image_tag 'bg_clouds_left.png', class: 'bg-clouds-left' %>
        <%= image_tag 'bg_clouds_right.png', class: 'bg-clouds-right' %>
      </div>
      <div id="checkout" class="checkout-section">
       <div class="container">
        <div class="section-text">
         <h3>Optimized
           Product Page</h3>
           <p>
            A clear, clean and simple landing page and checkout process are the
            secret sauce to sell effectively online.
            Clarity, cleanness and simplicity: these are the principles we put at
            the core of our service.              </p>
            <p>
              Upload a product file, insert the details, share to your audience and
              start selling in less than a minute.
              Simple. Isn't it?
            </p>
            <p>
             <%= link_to 'Try Demo', demo_path, class: 'btn-trydemo',  target: '_blank' %>
           </p>
         </div>
         <div class="section-illustration">
           <div class="checkout-demo-box">
             <%= image_tag 'mock_iphone.png', class: 'mock_iphone' %>
             <%= image_tag 'checkout_mock.png', class: 'mock-checkout' %>
           </div>
         </div>
       </div>
     </div>

     <div class="payments-section">
       <div class="container">
        <div class="section-illustration">
         <%= image_tag 'payments_section.png', class: 'mock_iphone',
         alt: 'Supported Gateways' %>
       </div>
       <div class="section-text">
         <h3>Payment Gateways</h3>
         <p>
           Accept all major debit and credit cards and collect your payments
           without worries: we are integrated with Paypal and Paymill.
         </p>
         <p>
          You can attract customers from around the world and you can be paid
          in Dollars, Euros and Pounds. Get safe online with secure payment
          systems (Verified by VISA and MasterCard SecureCode).
        </p>
      </div>

    </div>
  </div>
  <div class="features-section">
   <div class="container">
     <h4>Marketing Tools</h4>

     <div class="feature-box">
       <div class="feature-icon">
        <%= image_tag 'ml_integration_feature.png' %>
      </div>
      <h5>Mailchimp &amp; Campaign Monitor Sync</h5>
      <p>
        Connect Up&amp;Sell.me to your Mailchimp or Campaign Monitor account and
        start marketing your products. Create beautiful emails, send them to
        your current and prospective customers and track everything related
        to your campaigns.</p> </div>
        <div class="feature-box">
          <div class="feature-icon">
            <%= image_tag 'send_ml_feature.png' %>
          </div>
          <h5>Send Newsletter to your buyers</h5>
          <p>
            Thank them after sales, send regular
            updates and meaningful info about your products.
            Create contents that matter and boost your revenue.
          </p>
        </div>
        <div class="feature-box">
          <div class="feature-icon">
            <%= image_tag 'coupons_feature.png' %>
          </div>
          <h5>Create Coupons and promo codes</h5>
          <p>
            Coupons are an effective way to promote your products online.
            Create discounts, define promotions, design viral offers and
            make your customers happy.
          </p>
        </div>

      </div>
    </div>
    <div class="teaser-section">
     <div class="container">
       <div class="head">
         <h5>Coming Soon</h5>
         <p>Facebook Advertise, Google AdWords, Twitter Advertising.
          Everything you need to plan your best marketing campaigns.</p>
        </div>
        <div class="ads-logos">
          <%= image_tag 'fb_ads.png', class: 'ad-logo' %>
          <%= image_tag 'adwords_ads.png', class: 'ad-logo' %>
          <%= image_tag 'twitter_ads.png', class: 'ad-logo' %>
        </div>
      </div>
    </div>
    <% unless @beta %>
    <div class="pricing-section">
     <div class="container">
       <div class="head">
         <h6>Pricing</h6>
         <p>One edition. 30 days trial. 24.99$ per month. 24/7 customer service.
          Try our service, start selling and contact us at anytime for any support.</p>
        </div>
        <div class="pricing-plans">
          <div class="plan-blue">
           <div class="plan-tag-blue">
            <%= image_tag 'price_tag_blue.png' %>
            <h6 class="tag-head">Pro</h6>
            <span class="tag-currency">$</span><span class="tag-price">24</span>.99
            <div class="bottom-tag">
              <p class="f-p">Free Trial</p>
              <p class="s-p">30 days</p>
            </div>
          </div>
          <div class="plan-text-blue">
            <ul>
              <li><span>lorem cieoe</span></li>
              <li><span>lorem cieoe</span></li>
              <li><span>lorem cieoe</span></li>
              <li><span>lorem cieoe</span></li>
            </ul>
            <a href="#" class="btn-tag-blue">Sign up for trial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
<%= render :partial => 'layouts/site/footer' %>
<%= javascript_include_tag "frontend"%>
</body>
</html>