<% content_for(:page_title)  { "Admin Dashboard" } %>

<%- content_for :title  do %>
<i class="fa fa-lg fa-cubes"></i>
Admin Dashboard
<% end %>
<div id="admin-dashboard-page">
<div class="metric-row">

<div class="metric-box">
  <span class="metric-var"><%= @users %></span>
  <span class="metric-name">Active Users</span>
</div>

<div class="metric-box">
  <span class="metric-var">todo</span>
  <span class="metric-name">Trial Users</span>
</div>

<div class="metric-box">
  <span class="metric-var"><%= @users_trial %></span>
  <span class="metric-name">Not Active Users</span>
</div>

<div class="metric-box">
  <span class="metric-var"><%= @users_today %></span>
  <span class="metric-name">Today sign ups</span>
</div>
</div>

<div class="metric-row">
<div class="metric-box">
  <span class="metric-var"><%=  @average_product_price %></span>
  <span class="metric-name">AVG. Product Price</span>
</div>

<div class="metric-box">
  <span class="metric-var"><%= @products %></span>
  <span class="metric-name">N. Products</span>
</div>

<div class="metric-box">
  <span class="metric-var"><%= @orders %></span>
  <span class="metric-name">N. Orders</span>
</div>

<div class="metric-box">
  <span class="metric-var"><%= @orders_today %></span>
  <span class="metric-name">Today Sales</span>
</div>
</div>
</div>

