<div class="navbar-top">
	<div class="container">
		<div class="navbar-header">
			<%= link_to(root_path,
			class: "navbar-brand") do %>
			<%= image_tag "logo_beta.png",
			alt: 'Up&Sell.Me Logo',
			title: 'Web app to sell your digital downloads' %>
			<% end %>
		</div>
		<% if user_signed_in? %>
		<%= link_to(user_root_path,
		class: "navbar-btn btn-inverse") do %>
		Go To Dashboard
		<% end %>
		<% else %>
		<%= link_to("Sign Up", new_user_registration_path,
		class: "navbar-btn") %>

		<%= link_to("Sign In", new_user_session_path,
		class: "navbar-text-btn") %>
		<% end %>
	</div>
</div>