<div class="settings-menu">
  <ul>
    <li class="<%= ap(edit_user_settings_account_path)%>">
      <%= link_to(edit_user_settings_account_path) do %>
      Account
      <% end %>
    </li>
    <li class="<%= ap(edit_user_settings_payments_path)%>">
      <%= link_to(edit_user_settings_payments_path) do %>
      Payments
      <% end %>
    </li>
    <li class="<%= ap(edit_user_settings_emails_path)%>">
      <%= link_to(edit_user_settings_emails_path) do %>
      Emails
      <% end %>
    </li>
    <li class="<%= ap(edit_user_settings_integrations_path)%>">
    <%= link_to(edit_user_settings_integrations_path) do %>
      Integrations
      <% end %>
    </li>
<!--     <li class="<%= ap(edit_user_settings_upgrade_path)%>">
      <%= link_to(edit_user_settings_upgrade_path) do %>
      Upgrade Account
      <% end %>
    </li> -->
  </ul>
</div>
<div class="settings-page">
