<%- title "Settings" %>
<div class="settings-menu">
  <ul>
    <li class="<%= ap(user_settings_account_path)%>">
      <%= link_to(user_settings_account_path) do %>
      Account
      <% end %>
    </li>
    <li class="<%= ap(user_settings_payments_path)%>">
      <%= link_to(user_settings_payments_path) do %>
      Payments
      <% end %>
    </li>
    <li class="<%= ap(user_settings_password_path)%>">
      <%= link_to(user_settings_password_path) do %>
      Change Password
      <% end %>
    </li>
    <li class="<%= ap(user_settings_upgrade_path)%>">
      <%= link_to(user_settings_upgrade_path) do %>
      Upgrade Account
      <% end %>
    </li>
  </ul>
</div>
<div class="settings-page">
