<%= render partial: "tabs" %>

  <div class="settings-form">
    <%= simple_form_for current_user, url:  user_settings_update_account_path  do |f| %>
    <div class="form-row">
      <div class="row-label">
        <p>Email</p>
      </div>
      <div class="row-input">
        <%= f.input_field :email,  placeholder: "Your Email" %>
      </div>
    </div>
    <div class="form-row">
      <div class="row-label">
       <p>Name</p>
     </div>
     <div class="row-input">
      <%= f.input_field :name,  placeholder: "Your Name"  %>
    </div>
  </div>
  <div class="form-row">
   <div class="row-label">
     <p>Account Currency</p>
   </div>
   <div class="row-input">
     <%= f.input_field :currency, collection: ['USD', 'EUR', 'GBP'] %>
   </div>
 </div>
 <div class="form-row">
  <div class="row-label">
   <p>Emails after Sales</p>
 </div>
 <div class="row-input">
   <%= f.check_box :email_after_sale, class: "switch", data:{toggle: "switch"} %>
 </div>
</div>
<div class="form-row">
  <div class="row-label">
   <p>Google Analitycs Code</p>
 </div>
 <div class="col-md-3">
   <%= f.input_field :ga_code,
   placeholder:"UA-xxxxxx-x" %>
 </div>
</div>
<div class="form-row">
 <div class="form-actions"><hr />
 <%= f.button :submit, "Save Settings" %>
 </div>
</div>
<% end %>
</div>
</div>


