    <%= render partial: "tabs" %>

            <div class="tab-content">

              <div class="tab-pane active">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">

      <%= simple_form_for @user, url:  user_settings_update_account_path,
      class: 'form-horizontal' do |f| %>
      <h3>Info</h3>
      <div class="row form-group">
          <%= f.input_field :email,  placeholder: "Email"  %>
</div>
          <div class="row form-group">
          <%= f.input_field :name,  placeholder: "Your Name"  %>
        </div>
           <div class="row form-group">
             <div class=" col-md-7">
             <span>Account Currency</span>
             </div>
              <div class=" col-md-5">
          <%= f.input_field :currency, collection: ['USD', 'EUR', 'GBP']   %>
          </div>
        </div>
      </div>

    <div class="form-group">
     <div class="col-md-12 text-center"><hr />
      <%= f.button :submit, "Save Settings", class: 'btn btn-primary' %>

</div>
</div>

<% end %>
                  </div>
                </div>
              </div>


