    <%= render partial: "tabs" %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= simple_form_for current_user, url:  user_settings_update_password_path,
        class: 'form-horizontal' do |f| %>

        <div class="row form-group">
          <%= f.input_field :current_password, autocomplete: "off",
          placeholder: "Current password"  %>
        </div>
        <div class="row form-group">

          <%= f.input_field :password, autocomplete: "off",
          placeholder: "New password"  %>

        </div>
        <div class="row form-group">
          <%= f.input_field :password_confirmation,
          placeholder: "New password confirmation"  %>
        </div>


        <div class="form-group">
         <div class="col-md-12 text-center"><hr />
         <%= f.button :submit, "Change Password", class: 'btn btn-primary' %>

        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
