  <%= render partial: "tabs" %>
<div class="row">
  <div class=" col-md-8 col-md-offset-2">

<div class="row payment">
  <div class="col-md-1">
  <%# f.check_box :paypal_status, as: :boolean, data: {toggle: 'switch'},
  label: false

  %>
<input type="checkbox"
<% if @user.paypal %>
  checked
  <% end %>
  data-toggle="switch" data-type="paypal" />
  </div>
  <div class="col-md-offset-1 col-md-3">
  <%= image_tag "paypal_logo.gif" %>
   </div>

    <div class="col-md-7">
    <% if @user.paypal_email %>
    <a href="#" class="btn btn-primary pull-right" disabled >Connected</a>
    <% else %>
      <%= link_to "Connect", user_settings_add_paypal_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>

<div class="row payment">
<div class="col-md-1">
<%# f.check_box :credit_card_status, as: :boolean, data: {toggle: 'switch'},
label: false %>
<input type="checkbox"
<% if @user.credit_card_token %>
  checked
  <% end %>
 data-toggle="switch" data-type="paymill" />
</div>
  <div class="col-md-3 col-md-offset-1">
<%= image_tag "paymill.png", style: "width: 200px;" %>
</div>
 <div class="col-md-7">
 <%# if @user.credit_card_token %>
 <%# link_to("Refresh Token", user_settings_update_cc_token_path,
 class: 'btn btn-primary') %>
  <%# else %>
  <% if @paymill_url %>
<a href="<%= @paymill_url %>" class="btn btn-primary pull-right">Connect</a>
<% else %>
<a href="#" class="btn btn-primary pull-right" disabled >Connected</a>
<% end %>
<%# end %>
    </div>
  </div>




</div>
</div>
