<% content_for :title do %>
You just sold <%= @order.product.name %>
<% end %>
<tr>
  <td colspan='2'
  style="
  padding:15px 30px 5px 30px;
  background-color:#FFF;
  text-align:center;
  border:0;
  font-size:16px;
  font-family:"Helvetica Neue", sans-serif;
  color:#181818;"
  >

  <h1
  style="
  color:#595d64;
  padding-top:5px;
  margin: 0;
  font-size: 25px;
  font-family:'Helvetica Neue', sans-serif;
  "
  >
  You just sold a copy of
</h1>
<h2 style="
color:#53aede;
padding-bottom:15px;
font-family: 'Helvetica Neue', sans-serif;
margin-top: 5px;
margin-bottom: 0;
font-size: 26px;
border-bottom: 1px solid #e3e3e3;

"><%= @order.product.name %></h2>
</td>
</tr>

<tr>
  <td colspan='2' style=''>
    <div>
      <p style="margin: 25px 75px 25px 75px; text-align:center;
      color: #888;
      font-size: 22px; line-height: 1.3;">
      Your new customer's email is <a
      style="color:#53aede"
      href="mailto:<%= @order.email %>">
      <%= @order.email %>
    </a>.
    For order details go on your <a style="color:#53aede" href="https://upandsell.me/user">dashboard</a>.
  </p>
</td>
</tr>
<% content_for :footer do %>
Sent to <b><%= @user.email %></b>.
<%= link_to "Deactivate notifications",
unsubscribe_user_url(@user.unsubscribe_token('sales')),
style:"color:#53aede" %>
<% end %>

