<% content_for :title do %>
You just sold <%= @order.product.name %>
<% end %>
<table class="row">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="box-title">
            <h1> You just sold a copy of <b><%= @order.product.name %></b></h1>
          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="row" style="margin-bottom: 15px;">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="text-pad box-message">
            <p>
              Your new customer's email is <a
              style="color:#53aede"
              href="mailto:<%= @order.email %>">
              <%= @order.email %>
            </a>.
            For order details go on your <a style="color:#53aede" href="https://upandsell.me/user">dashboard</a>.
          </p>
        </td>
        <td class="expander"></td>
      </tr>
    </table>
  </td>
</tr>
</table>


<% content_for :footer do %>
<p>
Sent to <b><%= @user.email %></b>.
<%= link_to "Deactivate notifications",
unsubscribe_user_url(@user.unsubscribe_token('sales')),
style:"color:#999" %>
</p>
<% end %>

