<%
file_error = false
uploaded = false
if @product.errors[:uuid].present?
  file_row_error = 'file-row-error'
  file_error = true
end
if @product.file_file_name && @product.uuid
uploaded = true
end
%>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="upload-row <%= file_row_error %> col-lg-offset-1 col-lg-10">
        <form action="https://upandsell.s3.amazonaws.com" method="POST" enctype="multipart/form-data" class="direct-upload">
          <input type="hidden" name="success_action_status" value="201">
          <div class="invisible progress">
            <div class="progress-bar" style="width: 0%;"></div>
          </div>
          <div class="filename <% unless uploaded %>  invisible <% end%>"><b><%= @product.file_file_name %></b></div>

<div class="<% unless file_error %>  hidden <% end%>
 file-error"><b>You must upload a file</b></div>
          <span class="btn btn-primary fileinput-button">

            <span class="<% unless uploaded %>  hidden <% end%>" data-text-type="change">Change</span>

            <span class="<% if uploaded %>  hidden <% end%>" data-text-type="choose">Choose File to Sell</span>

            <span class="hidden" data-text-type="cancel">Cancel</span>

            <input data-url="https://upandsell.s3.amazonaws.com/"
            id="product-upload-btn" type="file" name="product[file_js]" multiple="" >
          </span>
        </form>
      </div>
    </div>
    <%= simple_form_for [:customer,@product], class: 'form-horizontal' do |f| %>
    <input class="upload_uuid" type="hidden" name="[product]upload_uuid" value="<%= @product.uuid %>" />
    <input class="filename" type="hidden" name="[product]filename" value="<%= @product.file_file_name %>" />
    <%= f.input_field :price_currency, as: :hidden %>
    <div class="form-group row">
      <div class="col-xs-10 <%= error_class(@product, 'name') %>">
        <%= f.input_field :name, class: 'form-control' %>
      </div>
      <div class="col-xs-2">
       <div class="input-group <%= error_class(@product, 'price_cents') %>">
         <span id="currency"
         data-currency-symbols="[&quot;$&quot;,&quot;\u00a3&quot;,&quot;\u20ac&quot;]"
         data-currency-values="[&quot;usd&quot;,&quot;gbp&quot;,&quot;eur&quot;]"
         class="input-group-addon btn-preview">$</span>
         <%= f.input_field :price, class: 'form-control' %>
       </div>
     </div>

   </div>
   <div class="form-group row">
    <div class="col-xs-12">
      <div class="input-group <%= error_class(@product, 'thumb') %>">
        <input
        class="string required form-control form-control" id="poduct_name" maxlength="255"
        name="prodct[name]" size="255" type="text">
        <span class="input-group-btn">
          <%= f.input_field :thumb, id: 'file-input', class: 'input-thumb input-file' %>
          <button class="btn btn-primary btn-preview" type="button">Choose Preview</button>
        </span>
      </div><!-- /input-group -->
    </div>


  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.input_field :description, class: 'form-control product-description' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-5">
      <%= f.button :submit, class: 'btn btn-primary text-center' %>
    </div>
  </div>



</div>

<% end %>
</div>
</div>