<% content_for :header do %>
<div class="col-lg-10">
  <h1>PRODUCTS</h1>
</div>
<div class="col-lg-2">
 <%= link_to "Add Product",
 new_customer_product_path, class: "pull-right btn btn-primary" %>
 </div>
 <% end %>

 <div class="row">
  <div class="col-lg-12 content">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            <div class="list">

             <% if @products.blank? %>
             <p>No products Founds</p>
             <% else %>
             <% @products.each do |product| %>
             <div class="list-item row">
               <div class="col-sm-1">
                <%= image_tag product.thumb.url(:small), :class => "img-circle" %>
              </div>
              <div class="col-sm-8 details">
                <strong>
                  <%= product.name %>
                </strong>
              </div>
              <div  class="col-sm-3 ext">
              <!--
                <a href="  url_for controller: '/products', action: 'show', slug: product.slug, only_path: false ">
                -->

                <%= link_to(customer_product_path(product), remote: true, :method => :delete) do %>
                <i class="fa fa-lg fa-times text-danger"></i>
                <% end %>
                 <%= link_to  controller: '/products', action: 'show', slug: product.slug, only_path: false do %>
                <i class="fa fa-link fa-lg"></i>
                <% end %>
                <%= link_to(edit_customer_product_path(product)) do %>
                <i class="fa fa-lg fa-pencil-square-o"></i>
                <% end %>
              </div>
            </div>
            <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

