  <script type="text/javascript">
    $(document).ready(function(){
      $.fn.peity.defaults.line = {
        colour: "#c6d9fd",
        strokeColour: "#4d89f9",
        strokeWidth: 1,
        delimiter: ",",
        height: 38,
        max: null,
        min: 0,
        width: 200
      }
      $(".line").peity("line")
      $( ".product-stats-cell" ).hover(
        function() {
          $( this ).addClass( "hover" );
        }, function() {
          $( this ).removeClass( "hover" );
        }
        );

    });
  </script>
  <div class="headline"><h3>My Products</h3></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>stats</th>
      </tr>
    </thead>
    <tbody>
      <% if @products.blank? %>
      <tr> <td colspan="2">No products Founds</td></tr>
      <% else %>
      <% @products.each do |product| %>
      <tr>
        <td>
          <%= image_tag product.thumb.url(:small), :class => "img-rounded product-cell-thumb" %>
          <div class="product-cell-info">
            <strong><%= link_to product.name, customer_product_path(product) %></strong>
            <div>
              <em class="muted"> <%=  url_for controller: '/products', action: 'show', slug: product.slug, only_path: false %></em>
             <a href="<%=  url_for controller: '/products', action: 'show', slug: product.slug, only_path: false %>"> <i class="icon-external-link"></i></a>
            </div>
            <div>
              <i class="icon-picture"></i> <em class="muted"> ~486 Kb </em>
            </div>
          </div>
          <div class="product-cell-btn">
            <%= link_to "Edit", edit_customer_product_path(product), :class => "btn pull-right" %>
          </div>

        </td>
        <td><%= humanized_money_with_symbol product.price %></td>
        <td class="product-stats-cell">
          <span class="line">1,3,9,0,0,0,0,0,5,2</span>
          <div class="text-info products-stats-count">15</div>
        </td>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
