<% content_for :sidebar do %>
<li>  <%= link_to "Add", new_product_path %></li>
<% end %>

<table class="table table-striped">
  <tr><th>Name</th><th>Actions</th>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><div class="btn-group">
       <%= link_to "Show", product_path(product), :class => "btn btn-info" %>
       <%= link_to "Edit", edit_product_path(product), :class => "btn" %>
       <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: 'Are you sure?'} , :class => "btn btn-danger" %>
</div>
      </td>
    </tr>
  <% end %>
</table>