<% content_for(:page_title)  { "Fatture" } %>
<%- content_for :title  do %>
<i class="fa fa-lg icon-reciept-1"></i>
Orders  <span style="color: #888">(<%= SubscriptionInvoice.finalized.count %>)</span>
<% end %>

<div class="row p-b-15">
 <%= simple_form_for :invoices, url: user_orders_path,
 method: :get, html: { class: 'simple_form form-inline' } do |f|%>

 <div class="col-md-10">

  <div class="form-group">
    <input name="q" type="text" class="m-l-10 flat form-control" style="width: 350px;"
    placeholder="By Customer Email, id or product" value="<%= params[:q] %>">
  </div>
  <button type="submit" class="m-l-5 btn btn-primary">
    <i class="fa fa-filter"></i>
    Filter</button>
  </div>

  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">


        <table class="table table-condensed ">
          <thead>
            <tr role="row">
              <th style="width:15%">N. #</th>
              <th style="width:18%"
              class="sorting_asc" rowspan="1" colspan="1">
              Dettagli Carta</th>
              <th style="width:6%"rowspan="1" colspan="1">
               Data</th>
               <th style="width:44%">Piano</th>
               <th style="width:6%">Amount</th>

               <th style="width:18%">date</th></tr>
             </thead>

             <tbody role="alert" aria-live="polite" aria-relevant="all">
               <% if @invoices.blank? %>
               <tr><td colspan="6"><p class="text-center text-muted">Nessuna fattura</p></td></tr>
               <% else %>

               <% @invoices.each do |subscription_invoice| %>
               <% if subscription_invoice.credit_note == false %>
               <tr>
                <td> <b>#<%= subscription_invoice.number %></b></td>
                <td>
                  <%= subscription_invoice.card_last4 %> -
                  <%= image_tag "cc_icons/#{subscription_invoice.card_brand.downcase}.png" %>
                </td>
                <td>
                  <%= subscription_invoice.finalized_at.to_time.strftime('%e %b %Y') %>
                </td>

                <td>Plan</td>

                <td><%= humanized_money_with_symbol Money.new(subscription_invoice.total, subscription_invoice.currency) %></td>

                <td>
                  <%= link_to "Invoice", invoice_download_user_settings_billing_path(subscription_invoice.id, format: :pdf), :class => "btn btn-primary" %>
                </td>
              </tr>
              <% else %>
              <tr>
                <td> <b>#<%= subscription_invoice.number %></b></td>
                <td>Credit note</td>
              </tr>
              <% end %>
              <% end %>
              <% end %>


            </tbody></table>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
     <div class="col-md-offset-5 col-md-6">
       <%= paginate @invoices %>
     </div>
   </div>
