<% content_for :sidebar do %>
<li>  <%= link_to "Add", new_customer_path %></li>
<% end %>

<table class="table table-striped">
  <tr><th>Name</th><th>Actions</th>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><div class="btn-group">
       <%= link_to "Show", customer_path(customer), :class => "btn btn-info" %>
       <%= link_to "Edit", edit_customer_path(customer), :class => "btn" %>
       <%= link_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you sure?'} , :class => "btn btn-danger" %>
</div>
      </td>
    </tr>
  <% end %>
</table>