<%= render partial: "user/settings/tabs" %>
<div class="settings-payments">
  <div class="row-payments">
    <div class="payment-switch">
      <%# f.check_box :paypal_status, as: :boolean, data: {toggle: 'switch'}, label: false %>
      <input type="checkbox" <%= 'checked' if current_user.paypal %> data-toggle="switch" data-type="paypal" />
    </div>
    <%= image_tag "paypal_logo.gif", class: 'payment-logo' %>
    <%= link_to ( current_user.paypal_email ? "Connected" : "Connect"),
    connect_user_settings_payments_path(gateway: 'paypal'),
    class: 'payment-connect', disabled:( current_user.paypal_email ? true : false) %>
  </div>

  <div class="row-payments">
    <div class="payment-switch">
      <%# f.check_box :credit_card_status, as: :boolean, data: {toggle: 'switch'}, label: false %>
      <input type="checkbox" <%= 'checked' if current_user.credit_card %> data-toggle="switch" data-type="paymill" />
    </div>
    <%= image_tag "paymill.png", class: 'payment-logo' %>
    <%= link_to ( current_user.credit_card_token ? "Connected" : "Connect"),
    connect_user_settings_payments_path(gateway: 'paymill'),
    class: 'payment-connect', disabled:( current_user.credit_card_token ? true : false) %>
    <%# link_to("Refresh Token", user_settings_update_cc_token_path, class: 'btn btn-primary') %>
  </div>
</div>

