<% content_for(:page_title)  { "Payment Settings" } %>
<%- content_for :title  do %>
<i class="fa fa-lg fa-cogs"></i>
Settings / <span>Payments</span>
<% end %>
<%= render partial: "user/settings/tabs" %>
<div class="settings-payments">
  <%= simple_form_for current_user, url:  user_settings_payments_path  do |f| %>

  <div class="paypal-row">
    <div class="payment-switch">
      <div class="bootstrap-switch-square">
        <%= f.check_box :paypal, class: 'p-switch', as: :boolean, data: {toggle: 'switch', type: 'paypal'}, label: false %>
      </div>
    </div>
    <div class="paypal-box <% unless current_user.paypal %>unfocus <% end %>">
      <%= image_tag "paypal_logo.png", class: 'payment-logo' %>
      <%= link_to ( current_user.paypal_email ? "Connected" : "Connect"), paypal_integration_path,
      class: 'payment-connect btn-app', disabled:( current_user.paypal_email ? true : false) %>
    </div>
  </div>

  <div class="cc-row">
    <div class="payment-switch">
      <div class="bootstrap-switch-square">
        <%= f.check_box :credit_card, class: 'p-switch', as: :boolean, data: {toggle: 'switch', type: 'cc'}, label: false %>
      </div>
    </div>
    <div class="cc-form-box <% unless current_user.credit_card %>unfocus <% end %>">
      <div class="logos-box">
        <%= image_tag "payments_logo.png", class: 'pull-right' %>
      </div>
      <div class="cc-box-row">
        <div class="cc-form">
          <div class="form-row">
            <div class="gateway-selector">
              <%= f.input_field :credit_card_gateway, collection: ['Paymill', 'Stripe', 'Braintree'],
              class: 'select select-primary select-block select-gateway' %>
            </div>
          </div>
          <div id="js-braintree-inputs" class=" <% unless current_user.credit_card_gateway == 'Braintree' %>hidden<% end %>">
            <div class="form-row">
              <div class="row-label">
                <p>Braintree Merchant Id</p>
              </div>
              <div class="row-input">
                <%= f.input_field :credit_card_bt_merchant_id %>
              </div>
            </div>
            <div class="form-row">
              <div class="row-label">
                <p>Braintree Currency</p>
              </div>
              <div class="row-input">

                <%= f.input_field :credit_card_bt_currency, collection: ['USD', 'EUR', 'GBP'],
                class: 'form-control select select-primary select-block',
                 prompt: "Select a currency" %>
               </div>
             </div>
           </div>
           <div class="form-row">
            <div class="row-label">
              <p>Live Public Key</p>
            </div>
            <div class="row-input">
              <%= f.input_field :credit_card_public_token %>
            </div>
          </div>
          <div class="form-row">
            <div class="row-label">
             <p>Live Secret Key</p>
           </div>
           <div class="row-input">
            <%= f.input_field :credit_card_token  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="form-actions">
   <%= button_tag('Save Settings', type: 'submit', class: "btn-form") %>
 </div>
</div>
<% end %>
</div>

