<% content_for(:page_title)  { "Invites" } %>
<%- content_for :title  do %>
<i class="fa  fa-lg fa-w fa-send"></i>
Invites
<% end %>

<div class="tools-menu">
  <ul>
   <li class="<%= ap( admin_invites_path(status: 'sent')) %>">
    <%= link_to(admin_invites_path(status: 'sent')) do %>
    Sent
    <% end %>
  </li>
  <li class="<%= ap(admin_invites_path( status: 'waiting'))%>">
    <%= link_to(admin_invites_path(status: 'waiting')) do %>
    Waiting List
    <% end %>
  </li>
  <li class="<%= ap(admin_invites_path( status: 'used'))%>">
    <%= link_to(admin_invites_path(status: 'used')) do %>
    Used
    <% end %>
  </li>
</ul>
</div>
<div class="tools-page">