  <%= render partial: "tabs" %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
<%= simple_form_for @customer, url:  customer_settings_update_payments_path,
class: 'form-horizontal' do |f| %>
<div class="row">
  <div class="col-md-10">
    <div class="form-group">
      <%= f.input :email_paypal, :autocomplete => "off"  %>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <%= f.input :paypal_status, label: false,
      inline_label: true  %>
    </div>
  <input type="checkbox" checked="<%= @customer[:paypal_status]%>" data-toggle="switch" />
  </div>
</div>
<div class="row">
<div class="col-md-11">
  <a href="<%= @paymill_url %>" class="btn btn-primary">Connect with Paymill</a>
</div>
  <div class="col-md-1">
    <div class="form-group">
      <%= f.input :credit_card_status, label: false,
      inline_label: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">

<div class="col-md-1">
 <input type="checkbox" checked="<%= @customer[:credit_card_status]%>" data-toggle="switch" />
</div>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-md-12 text-center"><hr />
  <%= f.button :submit, class: 'btn btn-primary' %>
</div>
</div>

<% end %>

</div>
</div>
