<% content_for(:page_title)  { "Summary" } %>

<%- content_for :title  do %>
<i class="fa fa-lg icon-graph-up-2"></i>
Summary     <select name="products" class="form-control select select-primary select-block mbl">
  <option value="0">All Products</option>
  <% current_user.products.each do |product| %>
  <option value="<%= product.id %>"><%= product.name %></option>
  <% end %>
</select>
<% end %>
<div id="dashboard-page">
  <div class="dashboard-tabs">
    <a class="active-tab dashboard-tab" data-period="day">
      <span class="dashboard-tab-title">Today</span>
      <span class="da-money"><span  id="js-earnings-today">...</span> <%= @currency%></span>
    </a>
    <a class="dashboard-tab" data-period="week">
    <span class="dashboard-tab-title">LAST 7 DAYS</span>
    <span class="da-money"><span  id="js-earnings-week">...</span> <%= @currency%></span>
  </a>
    <a class="dashboard-tab" data-period="month">
      <span class="dashboard-tab-title">LAST 30 DAYS</span>
      <span class="da-money"><span  id="js-earnings-month">...</span> <%= @currency%></span>
    </a>
  </div>
  <div class="dashboard-content">
    <div id="loading-graph">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
<div class="da-basic-info">
<div class="earnings-graph">
      <div data-currency="<%= @currency%>" id="js-graph-canvas"></div>
</div>
<div class="metrics-box">
  <div class="stats-box">
    <p>SALES</p>
    <div class="clearfix"></div>
    <h4 class="sales-month" id="js-sales">...</h4>
    <div class="clearfix"></div>
  </div>

  <div class="stats-box">
    <p>VISITS</p>
    <div class="clearfix"></div>
    <h4 class="visits-month" id="js-visits">...</h4>
    <div class="clearfix"></div>
  </div>

  <div class="stats-box">
    <p>CONVERSION RATE</p>
    <div class="clearfix"></div>
    <h4>
      <span class="conversion-rate" id="js-conversion-rate">...</span>%
    </h4>
    <div class="clearfix"></div>
  </div>
</div>
</div>
</div>

<div id="dashboard-support">
<div class="row" style="margin-top: 50px;">
 <div class="support-widget">
   <h4>
     <i class="fa fa-3x fa-bullhorn pull-left"></i>
   </h4>
   <p>
     Hi!
     If you have suggestions, requests o need support you can reach you by clicking on the <b>question mark icon</b> at the bottom right of the page. We also have a list of features we are working on,
     <a href="https://upandsellme.uservoice.com/">take a look</a> and vote to prioritize the release.
   </p>


 </div>
</div>
</div>

</div>
</div>
