<% content_for(:page_title)  { "Summary" } %>

<%- content_for :title  do %>
<i class="fa fa-lg icon-graph-up-2"></i>
Summary
<% end %>

<div class="summary">
 <div class="summary-widget">
  <div class="earnings">
    <div class="title">
      <h5>EARNINGS</h5>
    </div>
    <div class="box">
      <p>TODAY</p>
      <h4>
        <span class="earnings-today"> <%=  @earnings[:today] %></span>
        <%= currency_symbol current_user.currency %>
      </h4>
    </div>
    <div class="box">
      <p>THIS WEEK</p>
      <h4>
        <span class="earnings-week"> <%=  @earnings[:week] %></span>
        <%= currency_symbol current_user.currency %>
      </h4>
    </div>
    <div class="box">
      <p>THIS MONTH</p>
      <h4>
        <span class="earnings-month"> <%=  @earnings[:month] %></span>
        <%= currency_symbol current_user.currency %>
      </h4>
    </div>

    <div class="overlay-graph">
      <div class="overlayer-wrapper">
        <%= content_tag "div", id: "chart", class: "graph",
        data: { earnings: @earnings[:summary_data], currency: currency_symbol(current_user.currency) } do %>
        <div id="js-earnings"></div><% end %>
      </div>
    </div>
  </div>

  <div class="stats">
    <div class="stats-box">
      <select name="products" class="mbn">
        <option value="0">All Products</option>
        <% @products.each do |product| %>
        <option value="<%= product.id %>"><%= product.name %></option>
        <% end %>
      </select>


    </div>
    <div class="stats-box">
      <p>SALES</p>
      <div class="clearfix"></div>
      <h4 class="sales-month"><%= @sales || 0%></h4>
      <div class="clearfix"></div>
    </div>

    <div class="stats-box">
      <p>VISITS</p>
      <div class="clearfix"></div>
      <h4 class="visits-month"><%= @visits || 0%></h4>
      <div class="clearfix"></div>
    </div>

    <div class="stats-box">
      <p>CONVERSION RATE</p>
      <div class="clearfix"></div>
      <h4>
        <span class="conversion-rate"><%= @conversion_rate %></span>%
      </h4>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row m-t-20">
 <div class="support-widget">
   <h4>
     <i class="fa fa-3x fa-bullhorn pull-left"></i>
   </h4>
   <p>
     Hi! <b>Up&amp;Sell.Me</b> is currently in beta.
     If you have suggestions, requests o need support please
     visit our <a href="#"> forum</a>. We also have a list of features we are working on,
     <a href="#">take a look</a> and vote to prioritize the release.
   </p>


 </div>
</div>




</div>
