<% content_for(:page_title)  { "Summary" } %>

<%- content_for :title  do %>
<i class="fa fa-lg icon-graph-up-2"></i>
Summary
<% end %>
<div id="dashboard-page">
  <div class="dashboard-tabs">
    <div class="active-tab dashboard-tab">
      <span class="dashboard-tab-title">Today</span>
      <span class="da-money"> <%= @earnings[:today] %> <%= currency_symbol current_user.currency %></span>
    </div>
    <div class="dashboard-tab">
    <span class="dashboard-tab-title">LAST 7 DAYS</span>
    <span class="da-money"> <%= @earnings[:week] %> <%= currency_symbol current_user.currency %></span>
    </div>
    <div class="dashboard-tab">
      <span class="dashboard-tab-title">LAST 30 DAYS</span>
      <span class="da-money"> <%= @earnings[:month] %> <%= currency_symbol current_user.currency %></span>
    </div>
  </div>
  <div class="dashboard-content">
<div class="da-basic-info">
<div class="earnings-graph">
  <h4>earnings</h4>
  <div class="overlay-graph">
    <div class="overlayer-wrapper">
      <%= content_tag "div", id: "chart", class: "graph",
      data: { earnings: @earnings[:summary_data], currency: currency_symbol(current_user.currency) } do %>
      <div id="js-earnings"></div><% end %>
    </div>
  </div>
</div>
<div class="metrics-box">
  <div class="stats-box">
    <select name="products" class="form-control select select-primary select-block mbl">
      <option value="0">All Products</option>
      <% @products.each do |product| %>
      <option value="<%= product.id %>"><%= product.name %></option>
      <% end %>
    </select>


  </div>
  <div class="stats-box">
    <p>SALES</p>
    <div class="clearfix"></div>
    <h4 class="sales-month"><%= @sales || 0%></h4>
    <div class="clearfix"></div>
  </div>

  <div class="stats-box">
    <p>VISITS</p>
    <div class="clearfix"></div>
    <h4 class="visits-month"><%= @visits || 0%></h4>
    <div class="clearfix"></div>
  </div>

  <div class="stats-box">
    <p>CONVERSION RATE</p>
    <div class="clearfix"></div>
    <h4>
      <span class="conversion-rate"><%= @conversion_rate %></span>%
    </h4>
    <div class="clearfix"></div>
  </div>
</div>
</div>
<div class="da-advaced-info">
  <div class="visits-map">
<div id="world"  style="position: relative; height: 500px;">l</div>
</div>
<div class="visits-list">
  referral list
</div>
</div>
</div>

<div id="dashboard-support">
<div class="row" style="margin-top: 50px;">
 <div class="support-widget">
   <h4>
     <i class="fa fa-3x fa-bullhorn pull-left"></i>
   </h4>
   <p>
     Hi! <b>Up&amp;Sell.Me</b> is currently in beta.
     If you have suggestions, requests o need support you can reach you by clicking on the <b>question mark icon</b> at the bottom right of the page. We also have a list of features we are working on,
     <a href="https://upandsellme.uservoice.com/">take a look</a> and vote to prioritize the release.
   </p>


 </div>
</div>
</div>

</div>
</div>
