<div class="col-md-6 col-md-offset-3 sign-box">
	<h2>Sign in</h2>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :defaults => { :input_html => { :class => "form-control input-xlarge" }}, :html => {:novalidate => true}) do |f| %>
	<%= f.error_notification %>
	<div class="form-group">
		<%= f.input_field :email, :autofocus => true, :novalidate => true,
		placeholder: "Your Email" %>
	</div>
	<div class="form-group">
		<%= f.input_field :password, placeholder: "Your Password" %>
	</div>
	<div class="form-group">
		<%= f.button :submit, "Sign in", class: "btn btn-lg btn-block btn-primary" %>
	</div>

	<hr />
	<h4>Forget your Password ?</h4>
	<p>no worries,  <%= link_to "click here", new_user_password_path, class: "color-green" %> to reset your password.</p>
	<% end %>
</div>
