<% content_for(:page_title)  { "Setup Account" } %>
<%- content_for :title  do %>
<i class="fa fa-lg fa-credit-card"></i>
Account / <span>Billing Info</span>
<% end %>
<div class="setup-billing">
 <h3>Billing Info</h3>
 <h5>Fill out your billing information to start your free trial</h5>
 <div id='billing-form'>
  <%= simple_form_for :user do |f| %>
  <div class="billing-inputs">
    <div class="billing-type">
      <div class="radio radio-inline">
        <label>
          <input type="radio" name="user[business_type]" value="private" checked>
          Private
        </label>
      </div>
      <div class="radio radio-inline">
        <label>
          <input type="radio" name="user[business_type]" value="company">
          Company
        </label>
      </div>
    </div>
    <%= f.input :country, as: :country,
    class: 'select select-primary select-block mbl',
     priority: ["IT", "GB", "US"], selected: "IT" %>

     <%= f.input :legal_name, as: :with_feedback %>
     <%= f.input :tax_code, as: :with_feedback %>
     
     <div class="row">
       <%= f.input :address, as: :with_feedback, :wrapper_html => { :class => 'col-sm-9' } %>
       <%= f.input :zip_code, as: :with_feedback, :wrapper_html => { :class => 'col-sm-3' } %>
     </div>
     <div class="row">
       <%= f.input :city, as: :with_feedback, :wrapper_html => { :class => 'col-sm-9' } %>
       <%= f.input :province, as: :with_feedback, :wrapper_html => { :class => 'col-sm-3' } %>
     </div>
     <div class="row">
       <h4>Payment Details</h4>
       <div class="payment-box">
         <%= f.input :cc_number,
         label: "Credit Card Number
         #{image_tag 'cc_icons/amex_e.png'}
         #{image_tag 'cc_icons/mastercard_e.png'}
         #{image_tag 'cc_icons/visa_e.png'}
         ".html_safe  %>

         <div class="row">
           <%= f.input :cc_expire, :wrapper_html => { :class => 'col-sm-4' } %>
           <%= f.input :cc_cvc, :wrapper_html => { :class => 'col-sm-4' } %>
           <div class="cvc-info">
             <span>The last 3 digits displayed on the back of your card</span>
           </div>
         </div>
       </div>
     </div>
     <div class="footer-billing">
       <p>After the first month you will be charged $25.00 every month</p>
     </div>
   </div>
   <div class="action-form">
     <%= f.button :submit, "Start your 30 day FREE TRIAL", class: "btn-action" %>
   <% end %>
 </div>
</div>
