<% content_for(:page_title)  { "Setup Account" } %>
<%- content_for :title  do %>
<i class="fa fa-lg fa-cogs"></i>
Account / <span>Setup</span>
<% end %>

<div id="setup-page">
  <div class="welcome-tab">
    <div class="welcome-msg">
      <h1>Welcome To Up&amp;Sell.Me!</h1>
      <p>Just few steps to start selling with us. If you have any problem you can contact the support by
       clicking the question mark icon at bottom right of the page or by sending and email at
       <a href="mailto:support@upandsell.me">support@upandsell.me</a>. </p>
     </div>
   </div>
   <div class="product-form-steps">
    <a id="js-upload-tab" href="#email-tab" class="
    <%= 'completed-tab' if @email %>
    <%= 'active-tab' if !@email %>
    product-form-step" data-toggle="tab">
    <p>
      <i class="
      <%= 'fa-check' if @email %>
      <%= 'fa-envelope-o' if !@email %>
      fa"></i>
      <span>Confirm your email</span>
    </p>
  </a>
  <a id="js-product-tab" href="#payment-tab" class="
  <%= 'completed-tab' if @payments %>
  <%= 'active-tab' if !@payments && @email %>
  <%= 'disabled-tab' if !@payments && !@email %>
  product-form-step" data-toggle="tab">
  <p>
    <i class="fa
    <%= 'fa-check' if @payments %>
    <%= 'fa-credit-card' if !@payments %>
    "></i>
    Set Up Payments
  </p>
</a>
<a id="js-share-tab" href="#add-tab" class="


<%= 'active-tab' if @payments && @email %>
<%= 'disabled-tab' if !@payments || !@email %>
product-form-step" data-toggle="tab">
<p>
  <i class="fa fa-tag"></i>
  Add Product
</p>
</a>
</div>
<div class="tab-content">
  <div id="email-tab" class="tab-pane upload   <%= 'in active' if !@email %>">
    <%= render 'user/setup/tabs/confirm_email' %>
  </div>
  <div id="payment-tab" class="tab-pane fade product product-form <%= 'in active' if !@payments && @email %>">
    <%= render 'user/setup/tabs/add_payment' %>
  </div>
  <div id="add-tab" class="tab-pane share <%= 'active in' if @payments && @email %>"  data-toggle="tab">
    <%= render 'user/setup/tabs/add_and_social' %>
  </div>
</div>
<div class="setup-footer">
  <%= link_to user_root_path do %>
  <i class="fa fa-times"> I'm just looking around</i>
  <% end %>
</div>
</div>


