<div id="product-page-wrapper">
<div id="product-page-container">
<div id="js-product" class="product-page-landing">
  <%= render partial: "site/demo/landing" %>
</div>
<div id="js-product-modal" class="product-page-buy">
  <%= render partial: "site/demo/modal" %>
</div>
</div>
</div>
 <div id="footer">
    <span>powered by</span> <%= image_tag "footer_logo.png" %>
    <p>    <%= link_to "privacy", privacy_path %> |   <%= link_to "terms of service", terms_path %></p>
  </div>
