<% content_for(:page_title)  { "Integrations Settings" } %>
<%- content_for :title  do %>
<i class="fa fa-lg fa-cogs"></i>
Settings / <span>Integrations</span>
<% end %>
<%= render partial: "user/settings/tabs" %>
<div class="settings-integrations">
  <div class="integration-row">
    <%= image_tag "mailchimp-dark.png", class: 'payment-logo', style: 'width: 285px;' %>
    <%= link_to ( current_user.mailchimp_token ? "Connected" : "Connect"), '/auth/mailchimp',
    class: 'payment-connect', disabled:( current_user.mailchimp_token ? true : false) %>
  </div>

  <div class="integration-row">
    <%= image_tag "campaign_monitor.png", class: 'payment-logo' %>
    <%= link_to ( current_user.createsend_token ? "Connected" : "Connect"), '/auth/createsend',
    class: 'payment-connect', disabled:( current_user.createsend_token ? true : false) %>
  </div>
</div>

