<%= render partial: "user/settings/tabs" %>
<div class="settings-payments">
  <div class="row-payments">
    <%= image_tag "mailchimp-dark.png", class: 'payment-logo' %>
    <a href="/auth/mailchimp" class="payment-connect">
      <%= current_user.credit_card_token ? "Connected" : "Connect" %>
    </a>
  </div>

  <div class="row-payments">

    <%= image_tag "campaign_monitor.png", class: 'payment-logo' %>
    <a href="/auth/createsend" class="payment-connect">
      <%= current_user.credit_card_token ? "Connected" : "Connect" %>
    </a>
  </div>
</div>

