<div class="product-page-body">
  <div class="share-box">
<!--    <a href="#" class="email-btn">
    <span class="logo"><i class="fa fa-envelope"></i></span>
    <span class="text">Email</span>
  </a> -->
  <a id="js-twitter-btn" href=" javascript: void(0)"
  onclick="window.open(
  '<%= product_twitter_url(@product, @product.name) %>',
  'share','toolbar=0,status=0,width=600,height=305')"
  class="twitter-btn">
  <span class="logo"><i class="fa fa-twitter"></i></span>
  <span class="text">Tweet</span>
</a>
<a id="js-facebook-btn" href=" javascript: void(0)"
onclick="window.open(
'<%= product_facebook_url(@product, @product.name) %>',
'share','toolbar=0,status=0,width=600,height=305')"
class="fb-btn">
<span class="logo"><i class="fa fa-facebook"></i></span>
<span class="text">Share</span>
<span class="counter">0</span>
</a>
</div>
<% if @product.preview %>
<div class="preview-image">
  <%= image_tag @product.preview %>
</div>
<% end %>
<div class="hidden-xs landing-description">
 <h1><%= @product.name %> </h1>
 <h6>by <span class="product-author"><%= @user.name %></span></h6>
 <p><%= @product.description.html_safe %></p>
</div>

<div class="product-actions-box">
 <div class="product-price-box">
   <div class="hid coupon-label">
     <span class="vertical-text">Coupon</span>
   </div>
   <%
   symbol = @product.price.symbol
   price = @product.price.format(no_cents: true ,symbol: false)
   cents =  @product.price.format(symbol: false).last(2)
   %>
   <div class="product-price">
     <span> <%= symbol %> <span class="price"><%= price %></span><span class='cents'>.<%= cents %></span>
     </span>
   </div>
 </div>


 <div class="product-actions">
   <% if @published %>
   <div class="downloads-box <%= 'hidden' if !@downloadable %>">
    <%# link_to 'Download', download_product_path(@token), class: "btn-link-download" %>
    <a href="<%= @download_url %>" class="pay-download-btn download-btn">Download</a>
    <div class="download-middleline">
      <p><span><span class="dw-counter js-download-counter"><%= 5 - @downloads %></span> download remain</span></p>
    </div>

  </div>
  <div class="buy-box <%= 'hidden' if @downloadable %>">
    <% if @paypal and !@credit_card %>
    <a id="js-buy-paypal-btn" data-product-id="<%= @product.id %>" href="#paypal" class="buy-btn">Buy Now</a>
    <% else %>
    <a id="js-buy-btn" href="#" class="buy-btn">Buy Now</a>
    <% end %>
  </div>
  <% if @coupons %>
  <p class="middleline <%= 'hidden' if @downloadable %>"><span>or</span></p>
  <div class="coupons-box <%= 'hidden' if @downloadable %>">
    <div id="js-coupon-form" class="coupon-form hid">
      <form id="js-coupon-apply">
        <input class="coupon-code" type="text" placeholder="COUPON" name="coupon_code">
        <button id="js-coupon-apply" type="submit">Apply</button>
      </form>
      <div class="coupon-accepted">Coupon Accepted</div>
      <div class="coupon-invalid">Coupon Invalid</div>
    </div>
    <a id="js-coupon-btn" href="#coupon-form" class="coupon-btn">Apply Coupon</a>
  </div>
  <% end %>

  <% else %>
  <div class="message-box">
    <p>
      This product is  no longer for sale
    </p>
  </div>
  <% end %>
</div>
<div class="visible-xs landing-mobile-social">
  <a href="<%= product_twitter_url(@product, @product.name) %>" class="twitter-btn">
    <span class="logo"><i class="fa fa-twitter"></i></span>
    <span class="text">Tweet</span>
  </a>
  <a href="<%= product_facebook_url(@product, @product.name) %>" class="fb-btn">
    <span class="logo"><i class="fa fa-facebook"></i></span>
    <span class="text">Share</span>
    <span class="counter">0</span>
  </a>
</div>
<div class="visible-xs landing-description">
  <h1><%= @product.name %> </h1>
  <h6>by <span class="product-author"><%= @user.name %></span></h6>
  <p><%= @product.description.html_safe %></p>
</div>
<div class="product-info">
  <ul>
    <li class="<%= 'hidden' if !@downloadable %> l-unsubscribe">
      <% if @accept_marketing%>
      <a class="js-unsubscribe-order" data-token="<%= @token %>" href="#">unsubscribe from product updates</a>
      <% else %>
      <a class="js-unsubscribe-order disabled" data-token="<%= @token %>" href="#">Unsubscribed from product updates</a>
      <% end %>
    </li>
    <li><b>Size</b>
      <span><%= number_to_human_size @product.file_size %></span></li>
      <li> <b>Type</b>
        <span><%= @product.extension.upcase %></span></li>
        <% if @product.sales_limit %>
        <li> <b>Avaiable</b>
          <span><%= @product.sales_limit %> Items</span>
        </li>
        <% end %>
      </ul>
      <div class="product-seller">
        <h5>Created By:</h5>
        <%= image_tag @user.avatar, class: 'seller-pic' %>
        <h6><%= @user.name %></h6>
        <p>
         <%= @user.bio %>
       </p>
     </div>
   </div>
 </div>
</div>
