
<div class="product col-md-12">
 <% if @product.thumb_file_name %>
 <div class="row">
  <div class="col-md-12 product-image">
     <%= image_tag @product.thumb.url,  class:"img-responsive" %>
 </div>
</div>
<% end %>
<div class="row">
 <div class="col-md-8">
   <h3><%= @product.name %> </h3>
   <p class="description"><%= @product.description %></p>
 </div>
 <div class="col-md-4 info">
   <div class="row">
    <div class="col-md-12 text-center">
      <h2> <%=  humanized_money_with_symbol  @product.price %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @downloads and @downloads < 5 and @order.present? %>
      <%= link_to 'Download',
      download_product_path(@order.token),
      class: "btn btn-large btn-block btn-success" %>
      <p>You can download the product further <span><%= 5 - @downloads  %></span> times </p>
      <%# elsif @downloads and @downloads <= 5 %>
<!--           <a href="#"
          class="disabled btn btn-large btn-block btn-success">
          Download
        </a>
        <p>Reached limit downloads, <a href="#buy">buy again</a> </p> -->
        <% elsif !@published %>
          <p class="text-danger text-center">This product is not currently for sale.</p>
        <% else %>
        <% if @paypal and !@credit_card %>
        <a href="#paypal"  data-product-id="<%= @product.id %>"
        class="paypal btn btn-large btn-block btn-primary btn-buy">
        Buy Now!
      </a>
      <% else %>
      <a href="#buy"
      class="btn btn-large btn-block btn-primary btn-buy">
      Buy Now!
    </a>
    <% end %>
    <a href="#download"
    class="btn btn-large btn-block btn-success btn-download hidden">
    Download
  </a>
  <% end %>
</div>
</div>
<div class="row">
  <div class="details col-md-12">

    <ul>
      <li><span class="text-muted">Size:</span>
        <b class=""><%= number_to_human_size @product.file_file_size %></b></li>
        <li> <span class="text-muted">Type:</span>
          <b class=""><%= @product.extension.upcase %></b></li>
          <li> <span class="text-muted">By:</span>
            <b class=""><%= @product.user.name %></b></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="row">
    <p> <b>UP&amp;SELL.ME</b> </p>
  </div>
</div>
