<script type="text/javascript">
  var PAYMILL_PUBLIC_KEY = '<%= @product.user.credit_card_public_token %>';
</script>
<div id="js-checkout-tab" class="checkout-tab" data-product-id="<%= @product.id %>"
 data-action="<%= @action %>" data-paypal="<%= @paypal %>">

 <div class="top">
   <div id="js-close-buy" class="close-btn"></div>
   <%= image_tag "payform_logo.png", class: 'hidden-xs payform-logo' %>
   <img class="hidden-xs product-image" src="<%= @product.preview.thumb.url %>"/>
   <div>
    <h1> <%= @product.name %></h1>
    <h2>by <span class="author"><%= @user.name %></span>
    </div>
  </div>

  <div id="js-product-pay-tab" class="product-pay-tab">
   <%= render partial: "products/checkout/form" %>
 </div>

 <div id="js-product-download-tab" class="product-download-tab">
   <%= render partial: "products/checkout/download" %>
 </div>

 <div id="js-product-paypal-tab"  class="product-paypal-tab col-md-12 download-form">
   <%= render partial: "products/checkout/paypal" %>
 </div>

</div>