<div id="js-modal" class="buy-form" data-product-id="<%= @product.id %>">
  <script type="text/javascript">
    var PAYMILL_PUBLIC_KEY = '<%= @product.user.credit_card_public_token %>';
  </script>
  <div class="row pay-title">
    <div class="col-md-12">
      <h3> <i class="fa icon-tag-2 fa-lg"></i>  <%= @product.name %></h3>
    </div>




  </div>
  <hr></hr>
  <div class="row buy-form credit-card">
   <div id="cc" class="c-form col-md-12" style="height: 348px !important; min-height: 0">
     <form id="cc-form" role="form" class="cc-form">
       <div class="processing"></div>
       <div class="message">  <p> <i class="fa fa-lg fa-refresh fa-spin"></i></p>
         <p>Processing Payment...</p></div>
         <div class="form-group">
          <div class="left-addon ">
            <i class="fa fa-fw icon-envelope-1 fa-lg"></i>
            <input type="email" name="cc-email" class="cc-email form-control"  placeholder="Your Email">
          </div>
        </div>
        <div class="form-group">
          <div class="left-addon r-a">
            <i class="fa fa-fw icon-credit-card-back fa-lg"></i>

            <input type="text" name="cc-num" class="cc-num form-control"  placeholder="Credit Card Number">

          </div>
        </div>
        <div class=" row form-group">
         <div class="col-md-6">
           <div class="left-addon ">
            <i class="fa fa-fw icon-calendar-2 fa-lg i-offset"></i>
            <input type="text" name="cc-exp" class="cc-exp form-control"
            placeholder="MM/YYYY">
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-5">
          <div class="left-addon ">
            <i class="fa fa-fw icon-lock fa-lg i-offset"></i>
            <input type="text" name="cc-cvc" class="cc-cvc form-control"  placeholder="CVC">
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <p style="display: none;" class="cc-error text-center text-danger">Error: Check credit card info and try again.</p>
          <button type="submit" class="btn-cc js-btn-pay">Pay
            <span class="btn-tip"><%=  humanized_money_with_symbol  @product.price %></span>
          </button>
        </div>
      </div>
    </form>
    <% if @paypal %>
    <div class="row form-group">
      <div class="col-md-offset-1 col-md-10">
       <p class="middleline"><span>OR</span></p>
     </div>
   </div>
   <div class="row form-group">
    <div class="col-md-offset-1 col-md-10">
     <a  id="js-btn-paypal" data-product-id="<%= @product.id %>" href="#"
       class="js-btn-pay btn-paypal">Checkout with Paypal</a>
     </div>
   </div>
   <% end %>
 </div>
 <div id="download" class="download-form" style="height: 0px;">
   <div class="row product">
     <div class="col-md-12 text-center">
       <h2><i class="fa  icon-checkmark-thick"></i></h2>
       <h3>Thank you!</h3>
         <% if @downloadable %>
      <%= link_to 'Download',
      download_product_path(@token),
      class: "btn btn-pay btn-lg btn-download btn-success" %>
      <% else %>
       <a href="#" class="btn btn-pay btn-lg btn-download btn-success">Download</a>
       <% end %>
       <p>We've also emailed you the download link and order details.
        You can download the product up to 5 times.</p>
      </div>
    </div>
  </div>


  <div id="paypal" class="download-form" style="height: 0px;">
   <div class="row product">
     <div class="col-md-12 text-center">
      <h2> <i class="fa fa-lg fa-refresh fa-spin fa-2x"></i></h2>
      <h3>Contacting Paypal...</h3>
    </div>
  </div>
</div>
</div>

<div class="row">
 <div class="col-md-12 pay-footer">
   <hr></hr>
   <p>POWERED BY <b>UP</b>&amp;<b>SELL</b>.ME
   </div>
 </div>
</div>