<!DOCTYPE html>
<html lang="en">
<head>
  <title>Up&amp;Sell.me - <%= content_for :page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    Utils.registerPage("<%= controller_name %>", "<%= action_name %>");
    </script>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,300,600,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
  </head>
  <body>
    <div id="top">
      <div>
        <div id="brand">
          <%= link_to user_root_path do %>
          <%= image_tag "logo.png", class: 'payment-logo' %>
          <% end %>
        </div>
        <h3>
          <%= content_for :title %></h3>
        </div>
        <div id="navbar">
          <ul>
            <% if is_admin? %>
            <li><%= link_to(user_root_path) do %>
             <i class="fa fa-user  fa-users"></i>
             <% end %>
           </li>
           <% end %>

           <li class="<%= ac('accounts') || ac('payments') || ac('emails') %>">
             <%= link_to(edit_user_settings_account_path) do %>
             <i class="fa  icon-settings-wheel-fill"></i>
             <% end %>
           </li>
           <li><%= link_to(destroy_user_session_path, method: :delete) do %>
             <i class="fa  fa-power-off"></i>
             <% end %>
           </li>
         </ul>
       </div>
     </div>

     <div id="content">
      <div class="page-sidebar" id="main-menu">
       <div class="page-sidebar-wrapper" id="main-menu-wrapper">
         <ul>
          <li class="<%= ap(admin_root_path) %>">
            <%= link_to admin_root_path do %>
            <i class="fa fa-lg fa-w fa-cubes"></i>
            <span> Dashboard </span>
            <% end %>
          </li>
          <li class="<%= ap(admin_users_path) %>">
            <%= link_to admin_users_path do %>
            <i class="fa fa-lg fa-w fa-users"></i>
            <span> Users</span>
            <% end %>
          </li>

          <li class="<%= ac('products') %>">
           <%= link_to admin_products_path do %>
           <i class="fa fa-lg fa-w icon-tag-2"></i>
           <span> Products </span>
           <% end %>
         </li>
         <li class="<%= ac('orders') %>">
          <%= link_to admin_orders_path do %>
          <i class="fa  fa-lg fa-w icon-reciept-1"></i>
          <span>Orders</span>
          <% end %>
        </li>
        <li class="<%= ac('invites') %>">
          <%= link_to  admin_invites_path do %>
          <i class="fa  fa-lg fa-w fa-send"></i>
          <span>Invites</span>
          <% end %>
        </li>
        <li class="<%= ap(user_affiliations_path) %>">
          <%= link_to admin_affiliations_path do %>
          <i class="fa  fa-lg fa-w icon-connection"></i>
          <span>Affiliations</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <%= render partial: "layouts/messages", flash: flash %>
  <div class="page-content">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->
</body>
</html>