<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for :page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    Utils.registerPage("<%= controller_name %>", "<%= action_name %>");
  </script>
  <% if Rails.env.production? ||  Rails.env.staging? %>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    Utils.registerPage("<%= controller_name %>", "<%= action_name %>");
    WebFont.load({
      google: {
       families: [ 'Open+Sans:400,300,600,700:latin' ]
     }
   });
  </script>
  <% end %>
   <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
        <![endif]-->
        <%= csrf_meta_tag %>
      </head>
      <body>


        <%= render "layouts/messages" %>
        <div id="top">
          <div>

            <div class="e" id="brand">
              <%= link_to user_root_path do %>
              <%= image_tag "logo.png", class: 'payment-logo' %>
              <% end %>
            </div>
            <h3>
              <%= content_for :title %></h3>
            </div>

            <div id="navbar">

              <ul>
                <li>
                  <span><b><%= current_user.name %></b></span>
                </li>
                <li class="image-li">
                  <%= image_tag current_user.avatar, class: 'nav-avatar img-circle' %>
                </li>
                <% if current_user.subscription_active %>
                <li class="first-li <%= ap(new_user_product_path) %>">
                 <%= link_to(new_user_product_path) do %>
                 <i class="fa  fa-plus"></i>
                 <% end %>
               </li>
               <% end %>
               <% if is_admin? %>
               <li><%= link_to(admin_root_path) do %>
                 <i class="fa fa-user  icon-user-2"></i>
                 <% end %>
               </li>
               <% end %>
               <li class="<%= ac('accounts') || ac('payments') || ac('emails') %>">
                 <%= link_to(edit_user_settings_account_path) do %>
                 <i class="fa  icon-settings-wheel-fill"></i>
                 <% end %>
               </li>
               <li><%= link_to(destroy_user_session_path, method: :delete) do %>
                 <i class="fa  fa-power-off"></i>
                 <% end %>
               </li>
             </ul>


           </div>
         </div>

         <div id="content">
          <div class="page-sidebar" id="main-menu">
           <div class="page-sidebar-wrapper" id="main-menu-wrapper">
             <% if !current_user.confirmed? || !(current_user.paypal || current_user.credit_card) %>
             <div id="sidebar-setup-box">
               <%= link_to "Account Setup", user_setup_path, class: 'btn-app' %>
             </div>
             <% end %>
             <ul>
              <li class="<%= ap(user_root_path) %>">
                <%= link_to user_root_path do %>
                <i class="fa fa-lg fa-w icon-graph-up-2"></i>
                <span> Summary </span>
                <% end %>
              </li>
              <li class="<%= ac('products') %>">
               <%= link_to user_products_path do %>
               <i class="fa fa-lg fa-w icon-tag-2"></i>
               <span> Products </span>
               <% end %>
             </li>
             <li class="<%= ac('orders') %>">
              <%= link_to user_orders_path do %>
              <i class="fa  fa-lg fa-w icon-reciept-1"></i>
              <span>Orders</span>
              <% end %>
            </li>
            <li class="<%= ac('mailing_lists') || ac('coupons') || ac('emails') %>">
              <%= link_to  user_tools_mailing_lists_path do %>
              <i class="fa  fa-lg fa-w fa-bullhorn"></i>
              <span>Marketing</span>
              <% end %>
            </li>
        <!--   <li class="<%= ap(user_affiliations_path) %>">
            <%= link_to user_affiliations_path do %>
            <i class="fa  fa-lg fa-w icon-connection"></i>
            <span>Affiliations</span>
            <% end %>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="page-content">
      <div class="content">
        <% unless current_user.subscription_active %>
        <div id="not-subscribed">
          <div class="col-md-1">
            <i class="fa fa-warning"></i>
          </div>
          <div class="col-md-9">
            <p class="no-message">You currently don't have an active subscription, so you can't create or sell products.</p>
            <% if  current_user.stripe_id.nil? && current_user.beta_signup? %>
            <p class="no-beta">As a beta user you can have 6 months of free subscription.</p>
            <% end %>
          </div>
          <div class="col-md-2">
           <a href="/user/settings/billing/edit" class="btn-app">Subscribe</a>
         </div>
       </div>
       <% end %>
       <%= yield %>
     </div>
   </div>
   <!-- END PAGE CONTAINER -->
 </div>
 <!-- END CONTENT -->
</div>
<script>
  UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/ZrXL5QpQBVsHDvgKWSY1Q.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

  UserVoice.push(['set', {
    accent_color: '#4A4E62',
    trigger_color: 'white',
    trigger_background_color: '#addad5'
  }]);


  UserVoice.push(['identify', {}]);


  UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

  UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>
