<!DOCTYPE html>
<html lang="en">
<head>
  <title>Up&amp;Sell.me - <%= content_for :title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    Utils.registerPage("<%= controller_name %>", "<%= action_name %>");
    <% if Rails.env.production? ||  Rails.env.staging? %>
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,300,600,700:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
    <% end %>
  </script>
</head>
<body>

  <div id="top">
    <div>
      <div id="brand">
        <%= link_to user_root_path do %>
        <b>Up</b><span>&amp;<b>Sell</b>.Me</span>
        <% end %>
      </div>
      <h3><%= content_for :title %></h3>
    </div>
    <div id="navbar">
      <ul>
        <% if is_admin? %>
        <li><%= link_to(admin_root_path) do %>
         <i class="fa fa-user  icon-user-2"></i>
         <% end %>
       </li>
       <% end %>
       <li><%= link_to(new_user_product_path) do %>
         <i class="fa  icon-add-symbol"></i>
         <% end %>
       </li>
       <li><%= link_to(edit_user_settings_account_path) do %>
         <i class="fa  icon-settings-wheel-fill"></i>
         <% end %>
       </li>
       <li><%= link_to(destroy_user_session_path, method: :delete) do %>
         <i class="fa  fa-power-off"></i>
         <% end %>
       </li>
     </ul>
   </div>
 </div>
</div>

<div id="content">
  <div class="page-sidebar" id="main-menu">
   <div class="page-sidebar-wrapper" id="main-menu-wrapper">
     <ul>
      <li class="<%= ap(user_root_path) %>">
        <%= link_to user_root_path do %>
        <i class="fa fa-lg fa-w icon-graph-up-1"></i>
        <span> Summary </span>
        <% end %>
      </li>
      <li class="<%= ac('products') %>">
       <%= link_to user_products_path do %>
       <i class="fa fa-lg fa-w icon-tag-2"></i>
       <span> Products </span>
       <% end %>
     </li>
     <li class="<%= ac('orders') %>">
      <%= link_to user_orders_path do %>
      <i class="fa  fa-lg fa-w icon-reciept-1"></i>
      <span>Orders</span>
      <% end %>
    </li>
    <li class="<%= ac('mailing_lists') || ac('coupons') || ac('emails') %>">
      <%= link_to  user_tools_mailing_lists_path do %>
      <i class="fa  fa-lg fa-w icon-graph-up-2"></i>
      <span>Tools</span>
      <% end %>
    </li>
    <li class="<%= ap(user_affiliations_path) %>">
      <%= link_to user_affiliations_path do %>
      <i class="fa  fa-lg fa-w icon-connection"></i>
      <span>Affiliations</span>
      <% end %>
    </li>
  </ul>
</div>
</div>
<%# render partial: "layouts/messages", flash: flash %>
<div class="page-content">
  <div class="animated-alert"><div class="message">
    <p id="js-message" ></p>

  </div></div>
  <div class="content">
    <%= yield %>
  </div>
</div>
<!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->
</div>
<% if Rails.env.production?  ||  Rails.env.staging?  %>
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Obxhd4OynJUoaKCzUJOZxQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: '#448dd6'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
<% end %>
</body>
</html>
