<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Up&Sell.It</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "customer_area" %>
    <%= javascript_include_tag "customer_area" %>
</head> 

<body>
    <!--=== Top ===-->    
    <div class="top">
        <div class="container">         
            <ul class="loginbar pull-right">   
                <li><a href="page_faq.html" class="login-btn">Help</a></li>  
                <li class="devider">&nbsp;</li>
                <li>
                    <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "login-btn" %> </li>   
                </ul>
            </div>      
        </div><!--/top-->
        <!--=== End Top ===-->    

        <!--=== Header ===-->
        <div class="header">               
            <div class="container"> 
                <!-- Logo -->       
                <div class="logo">                                             
                    <a href="index.html"><%= image_tag "logo.png" %></a>
                </div><!-- /logo -->        

                <!-- Menu -->       
                <div class="navbar">                                
                    <div class="navbar-inner">                                  

                        <div class="btn-group pull-right">
                           <a class="btn-u btn-u-blue dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user icon-white"></i> Rocco Galluzzo&nbsp;&nbsp; <i class="icon-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                                <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="i"></i> Make admin</a></li>
                            </ul>
                        </div>                               
                    </div><!-- /navbar-inner -->
                </div><!-- /navbar -->                          
            </div><!-- /container -->               
        </div><!--/header -->      
        <!--=== End Header ===-->

        <!--=== Content Part ===-->
        <div class="container"> 
            <div class="app-content">
            <div class="row">
                    <div class="span3">
                        <div class="span3 text-center admin-add">

                         <%= link_to raw(' <i class="icon-upload-alt icon-white"></i>
                             Add Product'), 
                             new_customer_product_path, class: "btn-u-large btn-u" %>
                         </div>

                          <div class="span3 sidebar admin-content">
                            <%
                            dashboard_icon = "glyphicons-icon home"
                            products_icon = "glyphicons-icon file"
                            orders_icon = "glyphicons-icon coins"
                            if current_page?(customers_path)
                                dashboard_icon << " white"
                            end

                            if current_page?(customer_products_path)
                                products_icon << " white"
                            end

                            if current_page?(customer_payments_path)
                                orders_icon << " white"
                            end
                            %>
                            <ul class="nav nav-tabs nav-stacked">  
                                <li class="<%= 'active' if current_page?(customers_path) %>">  
                                    <%= link_to raw('<i class="' + dashboard_icon + '"></i> Dashboard'), customers_path %> 

                                </li>     
                                <li class="<%= 'active' if current_page?(customer_products_path) %>">
                                 <%= link_to raw('<i class="' + products_icon + '"></i> Products'), customer_products_path %> 
                             </li>  
                             <li class="<%= 'active' if current_page?(customer_payments_path) %>">
                                <%= link_to raw('<i class="' + orders_icon + '""></i> Orders'), customer_payments_path %> 
                            </li>   
                            <li><a href="#"><i class="glyphicons-icon charts"></i> Stats</a></li>   
                            <li><a href="#"><i class="glyphicons-icon circle_info"></i> Support</a></li>   
                        </ul>  
                </div>
            </div>
            <div class="span8 admin-data">
            <div class="alert-box">
            <%= render partial: "layouts/messages", flash: flash %> 
            </div>
                <%= yield %>
            </div>
        </div>
    </div><!--/row-fluid-->

</div>


</div><!--/container-->     
<!-- End Content Part -->
<%= render :partial => 'layouts/footer' %>
</body>
</html> 