<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <%= render partial: 'layouts/emails/ink' %>
  <style>
    body, .body {
      background-color: #F5F7F9 !important;
    }

    h1 {
      text-align: center !important;
      color:#373332 !important ;
      margin: 0 !important;
      font-size: 22px !important;
      font-family:'Helvetica Neue', sans-serif !important;
      padding: 0 25px;
      padding-top: 35px;
      line-height: 28px !important;
      font-weight: 600 !important;
    }
    h1 > i {
      color: #9A9A9A;
    }
    p {
      text-align: center;
      color: #676767 !important;
      font-family: "Helvetica","Arial",sans-serif !important;
      line-height: 1.3 !important;
      text-align: center !important;
      font-size: 18px;
    }

    p > i {
      color: #999 !important;
      font-size: 20px;
    }

    .header {
      border-top: 4px solid #4a4e62 !important;
    }
    .logo {
      margin-bottom: 12px !important;
      margin-top: 24px !important;
      float: none !important;
      height: 31px !important;
    }

    .main-box {
     background-color:#ffffff !important;
     border:1px solid #e3e3e3 !important;
     border-radius:6px !important;
     border-collapse: separate;
     border-spacing: 0;
     margin-bottom: 20px;
   }
   .box-title {
    /*padding-left: 10px !important;*/
  }

  .body-message{
    margin-top: 12px !important;
  }
  .box-message p {
    margin: 0px 40px 0px 40px !important;
  }
  .box-btn div {
    margin-top: 10px !important;
    text-align: center !important;
  }
  .box-alt-link a {
   color: #999 !important;
   display: block !important;
   font-size: 13px !important;
   text-align: center !important;
   margin-top: -10px !important;
 }
 .box-share-msg p {
  margin: 10px 30px 0px 30px;
  color:#595d64;
  font-size: 20px; line-height: 1.3;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;
}
.box-share-links center {
  text-align: center;
}

.box-share-links center a {
  float: left;
  margin-right: 10px;
}
.box-email-info p{
 border-top: 1px solid #e3e3e3;
 margin-top: 30px;
 padding-top: 15px;
 color: #888;
 font-size: 13px; line-height: 1.3;
}
.footer p{
  padding-top:25px; padding-bottom: 55px; text-align:center;
  font-family:Helvetica, Arial, sans-serif;
  font-size:15px; color: #939290;
}
.footer a{ color: #777 !important;}

</style>
</head>
<body>
  <span style='display: none !important; font-size: 0px; color: white !important;'>
    <%= yield :title %>
  </span>

  <table class="body">
   <tr>
    <td class="center" align="center" valign="top">
      <!-- Header and Logo -->
      <table class="row header">
        <tr>
          <td class="center" align="center">
           <center>
            <%= image_tag 'logo_email.png', class: 'logo' %>
          </center>
        </td>
      </tr>
    </table>

    <table class="container main-box">
      <tr>
        <td>
          <table class="row head-message">
            <tr>
              <td class="wrapper last">
                <table class="twelve columns">
                  <tr>
                    <td class="box-title">
                      <h1 class="box-h1"><%= yield :h1 %></h1>
                      <h2><%= yield :h2 %></h2>
                    </td>
                    <td class="expander"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table class="row body-message">
            <tr>
              <td class="wrapper last">
                <table class="twelve columns">
                  <tr>
                    <td class="text-pad box-message">
                      <p>
                        <%= yield :msg %>
                      </p>
                    </td>
                    <td class="expander"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>


          <%= yield %>
        </td>
      </tr>
    </table>
    <table class="row footer">
      <tr>
        <td class="center" align="center">
         <center>
          <%= yield :footer %>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>