<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Up&amp;Sell.me - Sell downloads and digital products easily </title>
  <meta name="description" content="Sell your music, videos, ebooks, software
  and other any downloadable products. Only 4% fee every sale. No fixed costs." />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
 <div id="wrap">
  <%= render :partial => 'layouts/site/header' %>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 text-center col-lg-10">
        <h1>Easy Way to Sell <span class="dinamic-text">Digital Products</span> Online</h1>
          <h2>Upload and Sell Music, videos, eBooks, software
            or any other downloadable product in no time</h2>
            <%= link_to "Get Started!", new_user_registration_path,
            class: "btn btn-front-primary btn-lg" %>
            <h3>No fixed costs, we take only 4% fee every sale you make</h3>
          </div>
        </div>
        <div class="row">
          <img class="col-lg-offset-1 col-lg-10" src="<%= asset_path('dashboard.png')%>" alt="">
        </div>
      </div>
    </div>
  </div>
  <%= render :partial => 'layouts/site/footer' %>
  <%= javascript_include_tag "application"%>
</body>
</html>