<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Up&amp;Sell.me - Sell downloads and digital products easily </title>
  <meta name="description" content="Sell your music, videos, ebooks, software
  and other any downloadable products. Only 4% fee every sale. No fixed costs." />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Lato:300,400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48766105-1', 'upandsell.me');
    ga('send', 'pageview');
  </script>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("22c60c310ce7b3dbdc1012a0706c9ab6");
mixpanel.track("Home Page Visited");
</script><!-- end Mixpanel -->
</head>
<body class="home">
 <div id="wrap">
  <%= render :partial => 'layouts/site/header' %>
  <div id="wrap-header">
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-1 text-center col-lg-10">
            <h1>Sell your  digital Products, easily.</h1>
            <h2>Fastest way to sell music, ebooks, software
              or any other downloadable product</h2>
              <%= link_to "Get Started!", new_user_registration_path,
              class: "btn btn-front-primary btn-lg" %>
              <h3>No monthly fees. We only charge <b>4%</b> fee every transaction. <b>Nothing during beta.</b></h3>
            </div>
          </div>
          <div class="row">
            <img class="col-lg-offset-1 col-lg-10" src="<%= asset_path('dashboard.png')%>" alt="">
          </div>
        </div>
      </div>
    </div>
    <hr></hr>
    <div class="content">
     <div class="container text-center">

      <h2>Why you should sell products with us?</h2>

       <div class="row">

         <div class="col-md-4">
           <img src="<%= asset_path('User-interface.png')%>" alt="">
           <h3>Optimized Product Page</h3>
           <p>
            Product landing page along with a checkout process simple and straightforward
            is of the <b>utmost important</b> to sell effectively goods online.
            </p>
            <p>
         We know this and have done a lot to offer a service that satisfies those requirements.
          </p>
        </div>
        <div class="col-md-4">
         <img  src="<%= asset_path('Card.png')%>" alt="">
         <h3>Clear and Simple Pricing </h3>
         <p>
          We charge <b>4%</b>(while in beta <b>0%</b>) percentage based on the sales you made.
                    No hidden fees.
          If you sell, we get paid.
          If you don’t sell, we don’t get paid.
          <p>
            We currently support PayPal and Paymill as payment gateways.
            Support of other gateways is on the way and will soon be available.
          </p>
        </div>
        <div class="col-md-4">
         <img src="<%= asset_path('Dude.png')%>" alt="">
         <h3>Support and Feature Requests</h3>
         <p>
          We listen our customers and do everything possible
          so that they have a service that meets their needs.
        </p>
        <p>
          If you need support to use service or have an idea for a new feature
          we should add, let us know, <a href="#">contact us</a>.
        </p>

      </p>
    </div>
  </div>
<div class="row">
  <div class="col-md-12 footer-call">
  <div class="container text-center">
     <%= link_to "Start Selling Now!", new_user_registration_path,
              class: "btn btn-front-primary btn-lg" %>
  </div>
  </div>
</div>
</div>

</div>
</div>
<%= render :partial => 'layouts/site/footer' %>
<%= javascript_include_tag "application"%>
</body>
</html>