<% content_for(:page_title)  { "Marketing Tools" } %>
<%- content_for :title  do %>
 <i class="fa  fa-lg fa-w fa-bullhorn"></i>
Marketing
<% end %>

<div class="tools-menu">
  <ul>
    <li class="<%= ac("mailing_lists") || ac('emails') %>">
      <%= link_to(user_tools_mailing_lists_path) do %>
      Newsletters/Mailing Lists
      <% end %>
    </li>
  <!--   <li class="<%= ap( user_tools_coupons_path)%>">
      <%= link_to( user_tools_coupons_path) do %>
      Coupons
      <% end %>
    </li>
    <li class="<%= ap(user_tools_serial_keys_path)%>">
      <%= link_to(user_tools_serial_keys_path) do %>
      Serial Key Upload
      <% end %>
    </li> -->
  </ul>
</div>
<div class="tools-page">
